USE [master]
GO
/****** Object:  Database [GARUDTOUR]    Script Date: 13/05/2025 17:10:17 ******/
CREATE DATABASE [GARUDTOUR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GARUDTOUR', FILENAME = N'D:\SQL\GARUDTOUR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GARUDTOUR_log', FILENAME = N'D:\SQL\GARUDTOUR_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GARUDTOUR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GARUDTOUR]
GO
/****** Object:  User [GARUDTOUR]    Script Date: 13/05/2025 17:10:18 ******/
CREATE USER [GARUDTOUR] FOR LOGIN [GARUDTOUR] WITH DEFAULT_SCHEMA=[GARUDTOUR]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [GARUDTOUR]
GO
ALTER ROLE [db_datareader] ADD MEMBER [GARUDTOUR]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [GARUDTOUR]
GO
/****** Object:  Schema [bsdall]    Script Date: 13/05/2025 17:10:18 ******/
CREATE SCHEMA [bsdall]
GO
/****** Object:  Schema [GARUDTOUR]    Script Date: 13/05/2025 17:10:18 ******/
CREATE SCHEMA [GARUDTOUR]
GO
/****** Object:  Table [dbo].[Adm_Menu]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adm_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [varchar](200) NOT NULL,
	[ShortName] [varchar](50) NULL,
	[ButtonView] [int] NULL,
	[ButtonAdds] [int] NULL,
	[ButtonModify] [int] NULL,
	[ButtonInquire] [int] NULL,
	[ButtonDelete] [int] NULL,
	[MenuImage] [varchar](200) NULL,
	[PageName] [varchar](200) NULL,
	[MenuParent] [int] NULL,
	[Status] [int] NULL,
	[PrintOrder] [numeric](5, 3) NULL,
	[PrnComb] [varchar](100) NULL,
	[Other1] [varchar](100) NULL,
	[Other2] [varchar](100) NULL,
	[Other3] [varchar](100) NULL,
	[FlagOther1] [int] NULL,
	[FlagOther2] [int] NULL,
	[FlagOther3] [int] NULL,
	[MenuLevel] [int] NULL,
	[Url] [varchar](100) NULL,
	[UrlType] [int] NULL,
	[CreateUser] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ModifyUser] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[Parent] [int] NULL,
	[MenuString] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adm_MenuRights]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adm_MenuRights](
	[MenuRightsId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProfileId] [numeric](18, 0) NULL,
	[MenuId] [numeric](18, 0) NULL,
	[FlagView] [int] NULL,
	[FlagAdd] [int] NULL,
	[FlagModify] [int] NULL,
	[FlagDelete] [int] NULL,
	[OtherName1] [nvarchar](100) NULL,
	[FLagOther1] [int] NULL,
	[OtherName2] [nvarchar](100) NULL,
	[FLagOther2] [int] NULL,
	[OtherName3] [nvarchar](100) NULL,
	[FLagOther3] [int] NULL,
	[EntryUser] [numeric](18, 0) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyUser] [numeric](18, 0) NULL,
	[ModifyDate] [datetime] NULL,
	[CompanyId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adm_Profile]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adm_Profile](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[ProfileName] [varchar](200) NOT NULL,
	[FlagActive] [int] NULL,
	[PrintOrder] [numeric](5, 3) NULL,
	[PrnComb] [varchar](100) NULL,
	[CreateUser] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ModifyUser] [int] NULL,
	[ModifyDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adm_User]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adm_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](55) NULL,
	[UserEmail] [nvarchar](55) NULL,
	[UserPassword] [nvarchar](100) NULL,
	[IsUActive] [bit] NULL,
	[ContactNo] [nvarchar](15) NULL,
	[LoginAllowed] [int] NULL,
	[ProfileId] [int] NULL,
	[DeviceId] [varchar](110) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [int] NULL,
	[ModifyUser] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[CompanyId] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[UserPhoto] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APIDoc]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIDoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApiName] [varchar](200) NULL,
	[APIParms] [nvarchar](max) NULL,
	[APIDesc] [nvarchar](max) NULL,
	[APICallingType] [nvarchar](100) NULL,
	[url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeatShiftMaster]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeatShiftMaster](
	[BeatShift_Id] [int] IDENTITY(1,1) NOT NULL,
	[BeatShiftName] [varchar](50) NULL,
	[BeatShiftInTime] [varchar](50) NULL,
	[BeatShiftOutTime] [varchar](50) NULL,
	[ShiftId] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[UserId] [int] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[Status] [int] NULL,
	[CustomerId] [int] NULL,
	[SiteId] [int] NULL,
	[BeatCode] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BeatShift_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Branch_Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](50) NULL,
	[Status] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[UserId] [int] NULL,
	[BranchCode] [varchar](50) NULL,
	[CompanyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Branch_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Com_Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[Status] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[UserId] [int] NULL,
	[CompanyCode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Com_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[UserId] [int] NULL,
	[entrydate] [datetime] NULL,
	[modifydate] [datetime] NULL,
	[Status] [int] NULL,
	[CustomerCode] [varchar](100) NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeMapToRoute]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMapToRoute](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [int] NULL,
	[Routeid] [varchar](50) NULL,
	[Entryuser] [int] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[Entrydate] [datetime] NULL,
	[modifydate] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesMapTocustomerSite]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesMapTocustomerSite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [int] NULL,
	[siteid] [int] NULL,
	[customerid] [int] NULL,
	[status] [int] NULL,
	[entryuser] [datetime] NULL,
	[modifydate] [datetime] NULL,
	[Entrydate] [datetime] NULL,
	[Branchid] [int] NULL,
	[Companyid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsertTour]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsertTour](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[SiteId] [int] NULL,
	[RouteCode] [nvarchar](50) NULL,
	[PostId] [int] NULL,
	[CustomerId] [int] NULL,
	[EmmployeeId] [int] NULL,
	[Remark] [nvarchar](max) NULL,
	[ImageFile] [image] NULL,
	[EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Employee]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Employee](
	[Empid] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](50) NULL,
	[EmpName] [varchar](50) NULL,
	[DOB] [date] NULL,
	[DOJOin] [date] NULL,
	[Dept] [varchar](50) NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[status] [int] NULL,
	[UserId] [int] NULL,
	[entrydate] [datetime] NULL,
	[modifydate] [datetime] NULL,
	[Password] [varchar](20) NULL,
	[Designation] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostMaster]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostMaster](
	[Postid] [int] IDENTITY(1,1) NOT NULL,
	[PostName] [varchar](50) NULL,
	[SiteId] [int] NULL,
	[PostCode] [varchar](50) NULL,
	[latitude] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
	[Entrydate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[Entryuser] [varchar](50) NULL,
	[Status] [int] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[CustomerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Postid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteMaster]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteMaster](
	[RouteId] [int] IDENTITY(1,1) NOT NULL,
	[RouteName] [varchar](50) NULL,
	[SiteId] [int] NULL,
	[PostId] [int] NULL,
	[Status] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[UserId] [int] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[CustomerId] [int] NULL,
	[RouteCode] [varchar](50) NULL,
	[indexsequenace] [int] NULL,
	[Checked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftMaster]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftMaster](
	[Shift_Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [varchar](50) NULL,
	[ShiftInTime] [varchar](50) NULL,
	[ShiftOutTime] [varchar](50) NULL,
	[Status] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[UserId] [int] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[CustomerName] [int] NULL,
	[SiteName] [int] NULL,
	[ShiftCode] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Shift_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITEMASTER]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITEMASTER](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[SiteCode] [varchar](50) NULL,
	[SitName] [varchar](50) NULL,
	[Status] [int] NULL,
	[latitude] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
	[entrydate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[entryuser] [varchar](50) NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[CustomerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransectionLogin]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransectionLogin](
	[TranLoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IP] [varchar](50) NULL,
	[latitude] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
	[LoginDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TranLoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[UserName] [varchar](50) NULL,
	[UserPassword] [varchar](50) NULL,
	[UserEmail] [varchar](50) NULL,
	[UserPhoneNO] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GARUDTOUR].[AssignBeat]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GARUDTOUR].[AssignBeat](
	[BeatRoute_Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftId] [int] NULL,
	[SiteId] [int] NULL,
	[BeatId] [int] NULL,
	[RoutId] [varchar](20) NULL,
	[Status] [int] NULL,
	[EntryUser] [varchar](50) NULL,
	[ModifyUser] [varchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[Entrydate] [datetime] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[CustomerId] [int] NULL,
	[BeatRouteCode] [varchar](500) NULL,
	[ShiftCode] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BeatRoute_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GARUDTOUR].[AssignTask]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GARUDTOUR].[AssignTask](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Routeid] [varchar](50) NULL,
	[date] [datetime] NULL,
	[flg] [int] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[EntryUser] [int] NULL,
	[Entrydate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GARUDTOUR].[RouteAssignment]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GARUDTOUR].[RouteAssignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftId] [int] NULL,
	[SiteId] [int] NULL,
	[Routecode] [varchar](50) NULL,
	[Status] [int] NULL,
	[EntryUser] [int] NULL,
	[ModifyUser] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[Entrydate] [datetime] NULL,
	[CompanyId] [int] NULL,
	[BranchId] [int] NULL,
	[CustomerId] [int] NULL,
	[Assignroutename] [varchar](50) NULL,
	[AssignrouteCode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GARUDTOUR].[RouteDetails]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GARUDTOUR].[RouteDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Routeid] [int] NULL,
	[PostId] [int] NULL,
	[status] [int] NULL,
	[position] [int] NULL,
	[entrydate] [int] NULL,
	[checked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GARUDTOUR].[tbl_task]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GARUDTOUR].[tbl_task](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[taskName] [varchar](50) NULL,
	[date] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adm_User] ON 

INSERT [dbo].[Adm_User] ([UserId], [UserName], [UserEmail], [UserPassword], [IsUActive], [ContactNo], [LoginAllowed], [ProfileId], [DeviceId], [CreateDate], [CreateUser], [ModifyUser], [ModifyDate], [CompanyId], [FullName], [UserPhoto]) VALUES (1, N'Admin', N'Admin@gmail.com', N'3YCGhKbuEDYySV3h8aNgcQ==', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Adm_User] ([UserId], [UserName], [UserEmail], [UserPassword], [IsUActive], [ContactNo], [LoginAllowed], [ProfileId], [DeviceId], [CreateDate], [CreateUser], [ModifyUser], [ModifyDate], [CompanyId], [FullName], [UserPhoto]) VALUES (2, N'AdminUser', N'Admin@gmail.com', N'AwlnUiUlIG8AjjLwFlA7cQ==', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Adm_User] OFF
GO
SET IDENTITY_INSERT [dbo].[APIDoc] ON 

INSERT [dbo].[APIDoc] ([Id], [ApiName], [APIParms], [APIDesc], [APICallingType], [url]) VALUES (4, N'Forget Password', N'username,oldpwd,confpwd', N'To Change the Password', N'No', N'https://localhost:7172/AppApi/ForgetPassword')
INSERT [dbo].[APIDoc] ([Id], [ApiName], [APIParms], [APIDesc], [APICallingType], [url]) VALUES (5, N'Employee Login', N'data={"EmpId":2,"Password":"12333"}', N'TO login Employee, Note data sent in form-date', N'No', N'https://localhost:7172/AppApi/login?')
INSERT [dbo].[APIDoc] ([Id], [ApiName], [APIParms], [APIDesc], [APICallingType], [url]) VALUES (6, N'single Post Name ', N'data= {"type":"GetPostbyId","Id":"6"}', N'', N'GetPostbyId', N'https://localhost:7172/AppApi/fetchData')
SET IDENTITY_INSERT [dbo].[APIDoc] OFF
GO
SET IDENTITY_INSERT [dbo].[BeatShiftMaster] ON 

INSERT [dbo].[BeatShiftMaster] ([BeatShift_Id], [BeatShiftName], [BeatShiftInTime], [BeatShiftOutTime], [ShiftId], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [Status], [CustomerId], [SiteId], [BeatCode]) VALUES (1, N'B1', N'12:12', N'12:14', 1, CAST(N'2025-03-06T12:27:53.657' AS DateTime), NULL, NULL, 30, 1, 1, 22, 1, N'B001')
INSERT [dbo].[BeatShiftMaster] ([BeatShift_Id], [BeatShiftName], [BeatShiftInTime], [BeatShiftOutTime], [ShiftId], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [Status], [CustomerId], [SiteId], [BeatCode]) VALUES (4, N'DLF Beat', N'12:12', N'12:12', 2, CAST(N'2025-03-21T11:52:11.517' AS DateTime), NULL, NULL, 30, 1, 1, 22, 1, N'B001')
INSERT [dbo].[BeatShiftMaster] ([BeatShift_Id], [BeatShiftName], [BeatShiftInTime], [BeatShiftOutTime], [ShiftId], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [Status], [CustomerId], [SiteId], [BeatCode]) VALUES (5, N'B12', N'12:12', N'12:14', 6, CAST(N'2025-04-11T12:44:47.480' AS DateTime), NULL, NULL, 30, 1, 1, 25, 6, N'B0012')
SET IDENTITY_INSERT [dbo].[BeatShiftMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Branch_Id], [BranchName], [Status], [EntryDate], [ModifyDate], [UserId], [BranchCode], [CompanyId]) VALUES (1, N'Grugram', 1, CAST(N'2025-03-04T15:14:28.523' AS DateTime), NULL, NULL, N'GU0001', 30)
INSERT [dbo].[Branch] ([Branch_Id], [BranchName], [Status], [EntryDate], [ModifyDate], [UserId], [BranchCode], [CompanyId]) VALUES (2, N'Noida', 1, CAST(N'2025-03-05T16:36:49.607' AS DateTime), NULL, NULL, N'G0003 ', 31)
INSERT [dbo].[Branch] ([Branch_Id], [BranchName], [Status], [EntryDate], [ModifyDate], [UserId], [BranchCode], [CompanyId]) VALUES (3, N'Hari Nager', 1, CAST(N'2025-03-08T17:18:45.060' AS DateTime), NULL, NULL, N'B001', 32)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Com_Id], [CompanyName], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyCode]) VALUES (30, N'Group L', 1, CAST(N'2025-03-04T15:13:51.927' AS DateTime), CAST(N'2025-03-04T15:13:59.860' AS DateTime), NULL, N'GL0001')
INSERT [dbo].[Company] ([Com_Id], [CompanyName], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyCode]) VALUES (31, N'iFM360', 1, CAST(N'2025-03-05T16:35:37.410' AS DateTime), NULL, NULL, N'C0002')
INSERT [dbo].[Company] ([Com_Id], [CompanyName], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyCode]) VALUES (32, N'BSD Infotech', 1, CAST(N'2025-03-08T17:18:01.240' AS DateTime), NULL, NULL, N'BSD001')
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [CustomerName], [UserId], [entrydate], [modifydate], [Status], [CustomerCode], [CompanyId], [BranchId]) VALUES (1, N'Supervisor', NULL, CAST(N'2024-11-04T17:26:17.750' AS DateTime), CAST(N'2024-11-05T09:49:40.380' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[Customer] ([Id], [CustomerName], [UserId], [entrydate], [modifydate], [Status], [CustomerCode], [CompanyId], [BranchId]) VALUES (2, N'Security Gaurd', NULL, CAST(N'2024-11-04T17:30:06.407' AS DateTime), CAST(N'2024-11-04T17:35:03.923' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[Customer] ([Id], [CustomerName], [UserId], [entrydate], [modifydate], [Status], [CustomerCode], [CompanyId], [BranchId]) VALUES (5, N'Aditiya Maurya', NULL, CAST(N'2025-01-23T15:01:37.377' AS DateTime), CAST(N'2025-01-23T15:30:25.180' AS DateTime), 1, N'AM9878', 4, 6)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeMapToRoute] ON 

INSERT [dbo].[EmployeeMapToRoute] ([id], [empid], [Routeid], [Entryuser], [CompanyId], [BranchId], [Entrydate], [modifydate], [status]) VALUES (1, 1, N'R001', 1, 30, 1, CAST(N'2025-04-11T11:05:24.573' AS DateTime), NULL, 1)
INSERT [dbo].[EmployeeMapToRoute] ([id], [empid], [Routeid], [Entryuser], [CompanyId], [BranchId], [Entrydate], [modifydate], [status]) VALUES (2, 2, N'R10', 1, 30, 1, CAST(N'2025-04-11T11:05:34.380' AS DateTime), NULL, 1)
INSERT [dbo].[EmployeeMapToRoute] ([id], [empid], [Routeid], [Entryuser], [CompanyId], [BranchId], [Entrydate], [modifydate], [status]) VALUES (3, 1, N'R10', 1, 30, 1, CAST(N'2025-04-11T12:30:45.887' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[EmployeeMapToRoute] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeesMapTocustomerSite] ON 

INSERT [dbo].[EmployeesMapTocustomerSite] ([id], [empid], [siteid], [customerid], [status], [entryuser], [modifydate], [Entrydate], [Branchid], [Companyid]) VALUES (1, 1, 1, 22, 1, CAST(N'1900-01-02T00:00:00.000' AS DateTime), NULL, CAST(N'2025-03-04T15:39:46.030' AS DateTime), 1, 30)
INSERT [dbo].[EmployeesMapTocustomerSite] ([id], [empid], [siteid], [customerid], [status], [entryuser], [modifydate], [Entrydate], [Branchid], [Companyid]) VALUES (2, 2, 1, 22, 1, CAST(N'1900-01-02T00:00:00.000' AS DateTime), NULL, CAST(N'2025-03-05T14:50:40.350' AS DateTime), 1, 30)
INSERT [dbo].[EmployeesMapTocustomerSite] ([id], [empid], [siteid], [customerid], [status], [entryuser], [modifydate], [Entrydate], [Branchid], [Companyid]) VALUES (3, 3, 3, 23, 1, CAST(N'1900-01-02T00:00:00.000' AS DateTime), CAST(N'2025-05-06T12:47:28.140' AS DateTime), CAST(N'2025-03-08T17:52:17.977' AS DateTime), 3, 32)
SET IDENTITY_INSERT [dbo].[EmployeesMapTocustomerSite] OFF
GO
SET IDENTITY_INSERT [dbo].[InsertTour] ON 

INSERT [dbo].[InsertTour] ([Id], [CompanyId], [BranchId], [SiteId], [RouteCode], [PostId], [CustomerId], [EmmployeeId], [Remark], [ImageFile], [EntryDate]) VALUES (1000, 30, 1, 1, N'R001', 5, 5, 1, N'Test Remark', 0x4D6963726F736F66742E4173704E6574436F72652E487474702E466F726D46696C65, CAST(N'2025-05-13T14:08:33.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[InsertTour] OFF
GO
SET IDENTITY_INSERT [dbo].[mst_Employee] ON 

INSERT [dbo].[mst_Employee] ([Empid], [EmpCode], [EmpName], [DOB], [DOJOin], [Dept], [CompanyId], [BranchId], [status], [UserId], [entrydate], [modifydate], [Password], [Designation], [Gender]) VALUES (1, N'Emp0001', N'Rohan ', CAST(N'2003-01-04' AS Date), CAST(N'2025-03-04' AS Date), N'IT Tech', 30, 1, 1, 2, CAST(N'2025-03-04T15:15:03.793' AS DateTime), CAST(N'2025-05-13T15:50:38.993' AS DateTime), N'4321', N'Developer', N'Male')
INSERT [dbo].[mst_Employee] ([Empid], [EmpCode], [EmpName], [DOB], [DOJOin], [Dept], [CompanyId], [BranchId], [status], [UserId], [entrydate], [modifydate], [Password], [Designation], [Gender]) VALUES (2, N'Emp0002', N'Johan Simth', CAST(N'2006-01-08' AS Date), CAST(N'2025-03-05' AS Date), N'Support', 30, 1, 1, 1, CAST(N'2025-03-05T14:45:54.290' AS DateTime), CAST(N'2025-05-06T12:40:20.100' AS DateTime), N'12333', N'Tester', N'Male')
INSERT [dbo].[mst_Employee] ([Empid], [EmpCode], [EmpName], [DOB], [DOJOin], [Dept], [CompanyId], [BranchId], [status], [UserId], [entrydate], [modifydate], [Password], [Designation], [Gender]) VALUES (3, N'Emp001', N'Mohan', CAST(N'2000-02-02' AS Date), CAST(N'2025-03-08' AS Date), N'IT', 32, 3, 1, 1, CAST(N'2025-03-08T17:21:38.480' AS DateTime), CAST(N'2025-03-11T11:34:59.490' AS DateTime), N'123564567', N'Tester', N'Male')
SET IDENTITY_INSERT [dbo].[mst_Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[PostMaster] ON 

INSERT [dbo].[PostMaster] ([Postid], [PostName], [SiteId], [PostCode], [latitude], [Longitude], [Entrydate], [ModifyDate], [Entryuser], [Status], [CompanyId], [BranchId], [CustomerId]) VALUES (5, N'Main gate', 3, N'P001', N'28.625248', N'77.135335', CAST(N'2025-03-08T17:24:14.133' AS DateTime), NULL, NULL, 1, 32, 3, 23)
INSERT [dbo].[PostMaster] ([Postid], [PostName], [SiteId], [PostCode], [latitude], [Longitude], [Entrydate], [ModifyDate], [Entryuser], [Status], [CompanyId], [BranchId], [CustomerId]) VALUES (6, N'P3', 3, N'P002', N'', N'', CAST(N'2025-03-08T17:26:42.820' AS DateTime), NULL, NULL, 1, 32, 3, 23)
INSERT [dbo].[PostMaster] ([Postid], [PostName], [SiteId], [PostCode], [latitude], [Longitude], [Entrydate], [ModifyDate], [Entryuser], [Status], [CompanyId], [BranchId], [CustomerId]) VALUES (7, N'P4', 3, N'P003', N'28.525248', N'77.035335', CAST(N'2025-03-08T17:27:07.487' AS DateTime), NULL, NULL, 1, 32, 3, 23)
SET IDENTITY_INSERT [dbo].[PostMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[RouteMaster] ON 

INSERT [dbo].[RouteMaster] ([RouteId], [RouteName], [SiteId], [PostId], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [CustomerId], [RouteCode], [indexsequenace], [Checked]) VALUES (1, N'e546', 1, 10, 1, CAST(N'2025-04-09T11:04:26.043' AS DateTime), NULL, NULL, 30, 1, 22, N'R001', 1, NULL)
INSERT [dbo].[RouteMaster] ([RouteId], [RouteName], [SiteId], [PostId], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [CustomerId], [RouteCode], [indexsequenace], [Checked]) VALUES (2, N'4356', 1, 10, 1, CAST(N'2025-04-11T10:56:56.290' AS DateTime), NULL, NULL, 30, 1, 22, N'R10', 1, NULL)
INSERT [dbo].[RouteMaster] ([RouteId], [RouteName], [SiteId], [PostId], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [CustomerId], [RouteCode], [indexsequenace], [Checked]) VALUES (3, N'Rout1', 6, 11, 1, CAST(N'2025-04-11T12:41:10.680' AS DateTime), NULL, NULL, 30, 1, 25, N'R000045', 1, NULL)
SET IDENTITY_INSERT [dbo].[RouteMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[ShiftMaster] ON 

INSERT [dbo].[ShiftMaster] ([Shift_Id], [ShiftName], [ShiftInTime], [ShiftOutTime], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [CustomerName], [SiteName], [ShiftCode]) VALUES (1, N'Night', N'10:10', N'12:10', 1, CAST(N'2025-03-04T15:32:15.913' AS DateTime), CAST(N'2025-03-05T17:25:18.237' AS DateTime), NULL, 30, 1, 22, 1, N'A0001')
INSERT [dbo].[ShiftMaster] ([Shift_Id], [ShiftName], [ShiftInTime], [ShiftOutTime], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [CustomerName], [SiteName], [ShiftCode]) VALUES (2, N'Shift A', N'12:12', N'12:56', 1, CAST(N'2025-03-06T10:04:54.927' AS DateTime), NULL, NULL, 30, 1, 22, 1, N'A0001')
INSERT [dbo].[ShiftMaster] ([Shift_Id], [ShiftName], [ShiftInTime], [ShiftOutTime], [Status], [EntryDate], [ModifyDate], [UserId], [CompanyId], [BranchId], [CustomerName], [SiteName], [ShiftCode]) VALUES (3, N'Shift B', N'10:10', N'12:10', 1, CAST(N'2025-03-06T10:55:10.000' AS DateTime), NULL, NULL, 30, 1, 22, 2, N'A0001')
SET IDENTITY_INSERT [dbo].[ShiftMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[SITEMASTER] ON 

INSERT [dbo].[SITEMASTER] ([SiteId], [SiteCode], [SitName], [Status], [latitude], [Longitude], [entrydate], [ModifyDate], [entryuser], [CompanyId], [BranchId], [CustomerId]) VALUES (1, N'G0000001', N'Delhi', 1, NULL, NULL, CAST(N'2025-03-04T15:18:05.760' AS DateTime), NULL, NULL, 30, 1, 22)
INSERT [dbo].[SITEMASTER] ([SiteId], [SiteCode], [SitName], [Status], [latitude], [Longitude], [entrydate], [ModifyDate], [entryuser], [CompanyId], [BranchId], [CustomerId]) VALUES (3, N'D001', N'Delhi', 1, NULL, NULL, CAST(N'2025-03-08T17:23:43.523' AS DateTime), NULL, NULL, 32, 3, 23)
INSERT [dbo].[SITEMASTER] ([SiteId], [SiteCode], [SitName], [Status], [latitude], [Longitude], [entrydate], [ModifyDate], [entryuser], [CompanyId], [BranchId], [CustomerId]) VALUES (5, N'G0000001', N'Delhi', 1, NULL, NULL, CAST(N'2025-04-11T10:53:47.673' AS DateTime), NULL, NULL, 30, 1, 25)
SET IDENTITY_INSERT [dbo].[SITEMASTER] OFF
GO
SET IDENTITY_INSERT [GARUDTOUR].[AssignBeat] ON 

INSERT [GARUDTOUR].[AssignBeat] ([BeatRoute_Id], [ShiftId], [SiteId], [BeatId], [RoutId], [Status], [EntryUser], [ModifyUser], [ModifyDate], [Entrydate], [CompanyId], [BranchId], [CustomerId], [BeatRouteCode], [ShiftCode]) VALUES (2, 1, 1, 1, N'3', 1, N'1', NULL, CAST(N'2025-03-06T13:12:43.950' AS DateTime), CAST(N'2025-03-06T13:11:28.110' AS DateTime), 30, 1, 22, NULL, NULL)
INSERT [GARUDTOUR].[AssignBeat] ([BeatRoute_Id], [ShiftId], [SiteId], [BeatId], [RoutId], [Status], [EntryUser], [ModifyUser], [ModifyDate], [Entrydate], [CompanyId], [BranchId], [CustomerId], [BeatRouteCode], [ShiftCode]) VALUES (3, 4, 3, 2, N'12', 1, N'1', NULL, NULL, CAST(N'2025-03-08T17:36:38.330' AS DateTime), 32, 3, 23, NULL, NULL)
SET IDENTITY_INSERT [GARUDTOUR].[AssignBeat] OFF
GO
SET IDENTITY_INSERT [GARUDTOUR].[RouteAssignment] ON 

INSERT [GARUDTOUR].[RouteAssignment] ([Id], [ShiftId], [SiteId], [Routecode], [Status], [EntryUser], [ModifyUser], [ModifyDate], [Entrydate], [CompanyId], [BranchId], [CustomerId], [Assignroutename], [AssignrouteCode]) VALUES (1, 1, 1, N'435', 1, 1, NULL, NULL, CAST(N'2025-03-15T12:29:27.443' AS DateTime), 30, 1, 22, N'6536', N'4543454')
INSERT [GARUDTOUR].[RouteAssignment] ([Id], [ShiftId], [SiteId], [Routecode], [Status], [EntryUser], [ModifyUser], [ModifyDate], [Entrydate], [CompanyId], [BranchId], [CustomerId], [Assignroutename], [AssignrouteCode]) VALUES (2, 1, 1, N'R001', 1, 1, NULL, NULL, CAST(N'2025-04-11T11:08:06.307' AS DateTime), 30, 1, 22, N'R0001', N'R11')
INSERT [GARUDTOUR].[RouteAssignment] ([Id], [ShiftId], [SiteId], [Routecode], [Status], [EntryUser], [ModifyUser], [ModifyDate], [Entrydate], [CompanyId], [BranchId], [CustomerId], [Assignroutename], [AssignrouteCode]) VALUES (3, 1, 1, N'R10', 1, 1, NULL, NULL, CAST(N'2025-04-11T11:08:06.307' AS DateTime), 30, 1, 22, N'R0001', N'R11')
SET IDENTITY_INSERT [GARUDTOUR].[RouteAssignment] OFF
GO
SET IDENTITY_INSERT [GARUDTOUR].[tbl_task] ON 

INSERT [GARUDTOUR].[tbl_task] ([Id], [taskName], [date], [Status]) VALUES (1, N'Big Kahuna Burger Ltd', CAST(N'2025-04-09T11:50:03.600' AS DateTime), 0)
INSERT [GARUDTOUR].[tbl_task] ([Id], [taskName], [date], [Status]) VALUES (2, N'Binford Ltd.', CAST(N'2025-04-09T11:50:03.600' AS DateTime), 0)
SET IDENTITY_INSERT [GARUDTOUR].[tbl_task] OFF
GO
ALTER TABLE [dbo].[Adm_Menu] ADD  DEFAULT ((0)) FOR [CreateUser]
GO
ALTER TABLE [dbo].[Adm_Menu] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Adm_MenuRights] ADD  DEFAULT ((0)) FOR [EntryUser]
GO
ALTER TABLE [dbo].[Adm_MenuRights] ADD  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[Adm_Profile] ADD  DEFAULT ((1)) FOR [FlagActive]
GO
ALTER TABLE [dbo].[Adm_Profile] ADD  DEFAULT ((0)) FOR [CreateUser]
GO
ALTER TABLE [dbo].[Adm_Profile] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Com_Id])
GO
ALTER TABLE [dbo].[SITEMASTER]  WITH CHECK ADD  CONSTRAINT [FK_Site_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[SITEMASTER] CHECK CONSTRAINT [FK_Site_Customer]
GO
/****** Object:  StoredProcedure [dbo].[API_Usp_GetPost]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[API_Usp_GetPost](
@Action varchar(50),
@EmpId int,
@RouteId varchar(50),
@CompanyId int ,
@BranchId int,
@PostId Varchar(50)=''
)
as
begin
if(@Action='All')
begin
select b.Routeid as RouteId, a.Routeid as RouteCode,p.PostName as PostName,p.Postid,p.PostCode as postcode  from EmployeeMapToRoute a  join  RouteMaster b on a.Routeid=b.RouteCode join PostMaster p on b.SiteId=b.SiteId and p.CustomerId=b.CustomerId where
a.BranchId=@BranchId and a.CompanyId=@CompanyId and a.empid=@EmpId and a.Routeid=@RouteId

group by p.PostName,p.PostCode ,a.Routeid ,b.Routeid,p.Postid
end
if(@Action='Single')
begin
select p.Postid,a.Routeid,p.PostName as PostName,p.PostCode as postcode  from EmployeeMapToRoute a  join  RouteMaster b on a.Routeid=b.RouteCode and a.CompanyId=b.CompanyId and a.BranchId=b.BranchId join PostMaster p on b.SiteId=b.SiteId  and a.CompanyId=p.CompanyId and a.BranchId=p.BranchId  where p.postid=@PostId and a.BranchId=@BranchId and a.CompanyId=@CompanyId and a.empid=@EmpId and a.Routeid=@RouteId

group by p.PostName,p.PostCode ,a.Routeid,p.Postid
end
end

--select *from EmployeeMapToRoute
select * from PostMaster
select * from RouteMaster





GO
/****** Object:  StoredProcedure [dbo].[API_Usp_GetTaskdetails]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[API_Usp_GetTaskdetails](
@EmpId Varchar(50),
@BranchId varchar(50),
@CompanyId varchar(50)
)
as
begin

select distinct  a.RouteId,a.RouteName,a.RouteCode,min(case when isnull(a.Checked,0)=0 then 'New' end)as Checked,ss.SitName,cc.CustomerName as CustName from  RouteMaster a  join EmployeeMapToRoute c on a.RouteCode=c.Routeid and a.CompanyId=c.CompanyId and a.BranchId=c.BranchId join EmployeesMapTocustomerSite  es on c.empid=es.empid  and a.SiteId=es.siteid and a.CustomerId=es.customerid join Customer cc on es.customerid=cc.id join SITEMASTER ss on es.siteid=ss.SiteId  join mst_Employee b on a.BranchId=b.BranchId and a.CompanyId=b.CompanyId and b.Empid= es.empid where c.empid=@EmpId and a.CompanyId=@CompanyId and a.BranchId=@BranchId   group by a.RouteCode,a.RouteName ,ss.SitName,cc.CustomerName,a.RouteId
end

select * from RouteMaster where RouteCode in ('R000045','R10','R001')
select * from EmployeeMapToRoute
select * from EmployeesMapTocustomerSite





















GO
/****** Object:  StoredProcedure [dbo].[App_Usp_CheckGeoLoaction]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[App_Usp_CheckGeoLoaction](
 @Latitude Float,
 @Longitude Float,
 @PostId int
 )
 as
 begin
declare @GEO1 GEOGRAPHY
 declare @LAT Float
declare @LONG float
set @LAT= @Latitude
set @LONG=@Longitude

--set @LocationAutoId=20911
SET @GEO1= geography::Point(@Latitude, @Longitude, 4326)
SELECT * into #Temp FROM
(
SELECT Postid,(((acos(sin((@LAT*pi()/180)) * sin((Latitude*pi()/180))+cos((@LAT*pi()/180))
 * cos((Latitude*pi()/180)) * cos(((@LONG - Longitude)*pi()/180))))*180/pi())*60*1.1515*1609.344) as distanceMeter FROM PostMaster where Postid=@PostId
--where ClientCode=@ClientCode and AsmtID=@AsmtId --and PostCode=@PostAutoId
--where --LocationAutoID=ISNULL(@LocationAutoId,LocationAutoID)
--LocationAutoID Not in ('20766')
--LocationAutoID in (20903)
 )t where DISTANCEMeter <=50

select * from #Temp;

 end
GO
/****** Object:  StoredProcedure [dbo].[APP_Usp_GetCustomerByEmp]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[APP_Usp_GetCustomerByEmp](
@EmpId varchar(50),
@CompanyId int ,
@BranchId int)
as
begin 


select distinct a.Id as CustomerId, Customername+ ' (' + ISNULL(CustomerCode, '') + ')' as CustomerName,a.BranchId,a.CompanyId,b.empid as EmployeeId from Customer a join EmployeesMapTocustomerSite b  on a.Id=b.customerid and a.BranchId=b.Branchid and a.CompanyId=b.Companyid where a.CompanyId=@CompanyId and a.BranchId=@BranchId and b.empid=@EmpId
end
GO
/****** Object:  StoredProcedure [dbo].[APP_Usp_GetSiteByCustomer]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   proc [dbo].[APP_Usp_GetSiteByCustomer](
@EmpId int,
@CustomerId Int,
@CompanyId int ,
@BranchId int)
as
begin 

select a.SiteId,a.SitName+ ' (' + ISNULL(SiteCode, '') + ')' as SiteName from SITEMASTER a join EmployeesMapTocustomerSite b on a.CustomerId=b.customerid  where a.CompanyId=@CompanyId and a.BranchId=@BranchId and a.CustomerId=@CustomerId and b.empid=@EmpId
end
GO
/****** Object:  StoredProcedure [dbo].[App_Usp_InsertTour]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[App_Usp_InsertTour](
@CompanyId int,
@BranchId int,
@SiteId int,
@PostId int,
@CustomerId int,
@EmmployeeId int,
@RouteCode nVarchar(50),
@remark nVarchar(max),
@Image Image
)
as
begin

Insert into InsertTour(CompanyId,BranchId,SiteId,RouteCode,PostId,CustomerId,EmmployeeId ,
Remark ,ImageFile ,EntryDate )values(@CompanyId,@BranchId,@SiteId,@RouteCode,@PostId,@CustomerId,@EmmployeeId,@remark,@Image,Getdate())
end

GO
/****** Object:  StoredProcedure [dbo].[drop_BindDoardLogin]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[drop_BindDoardLogin]
@CompanyId int,
@BranchId int
as
begin 

SELECT
  (SELECT COUNT(*) FROM mst_Employee b 
     WHERE b.CompanyId = @CompanyId and b.BranchId=@BranchId) AS TotalEmployees,

	   (SELECT COUNT(*) FROM EmployeeMapToRoute b 
     WHERE b.CompanyId = @CompanyId and b.BranchId=@BranchId) AS EmployeeMapToRoute,

	   (SELECT COUNT(*) FROM EmployeesMapTocustomerSite b 
     WHERE b.CompanyId = @CompanyId and b.BranchId=@BranchId) AS EmployeesMapTocustomerSite,
    (SELECT COUNT(*) FROM Customer a 
     WHERE a.CompanyId = @CompanyId and a.BranchId=@BranchId) AS TotalCustomers,

    (SELECT COUNT(*) FROM SITEMASTER 
     WHERE CompanyId = @CompanyId and BranchId=@BranchId) AS TotalSites,

    (SELECT COUNT(*) FROM Postmaster 
     WHERE  CompanyId = @CompanyId and BranchId=@BranchId) AS TotalPosts,
	  
    (SELECT  COUNT(*)  FROM  (select routename from Routemaster
     WHERE  CompanyId = @CompanyId and BranchId=@BranchId group by RouteName )as TotalRoutes) as TotalRoutes,

    (SELECT COUNT(*) FROM ShiftMaster 
     WHERE CompanyId = @CompanyId and BranchId=@BranchId) AS TotalShifts,

    (SELECT COUNT(*) FROM BeatShiftMaster 
     WHERE CompanyId = @CompanyId and BranchId=@BranchId) AS TotalBeats,

    (SELECT COUNT(*) FROM [GARUDTOUR].[AssignBeat] 
     WHERE CompanyId = @CompanyId and BranchId=@BranchId) AS TotalAssignBeats

	 end

	 
GO
/****** Object:  StoredProcedure [dbo].[drop_Customer]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[drop_Customer]

@companyid int,
@branchid int,
@id int =''
as
begin 
select Id, Customername+ ' (' + ISNULL(CustomerCode, '') + ')' as Customername from Customer where CompanyId=@companyid and BranchId=@branchid and Status=1 and Id=@id
--select * from Customer
end
GO
/****** Object:  StoredProcedure [dbo].[drop_Employee]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[drop_Employee]
as
begin 
select EmpId, EmpName  from Employees

end
GO
/****** Object:  StoredProcedure [dbo].[drop_Route]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[drop_Route]
@Sitid  int,
@companyid int,
@branchid int
as
begin 

  SELECT   MIN(a.RouteId) AS RouteId,ISNULL(a.RouteName, '') + ' (' + ISNULL(a.RouteCode, '') + ')'AS RouteName FROM Routemaster a where a.SiteId=@Sitid and CompanyId=@companyid and BranchId=@branchid GROUP BY a.RouteName, a.RouteCode 
end
GO
/****** Object:  StoredProcedure [dbo].[drop_Shift]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[drop_Shift]
@companyid int,
@branchid int
as
begin 
select Shift_Id,ShiftName + ' (' + ISNULL(ShiftCode, '') + ')' ShiftName  from ShiftMaster where CompanyId=@companyid and BranchId=@branchid and Status=1

end


--select * from ShiftMaster
GO
/****** Object:  StoredProcedure [dbo].[drop_site]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[drop_site]
@custid  int,
@companyid int,
@branchid int
as
begin 
select SiteId,SitName + ' (' + ISNULL(SiteCode, '') + ')'  as  SitName  from SITEMASTER where CompanyId=@companyid and BranchId=@branchid and CustomerId=@custid
--select Com_Id, CompanyName from Company
end
GO
/****** Object:  StoredProcedure [dbo].[Dropdownlist]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Dropdownlist](
@action varchar(50)='',
@id int ='' ,
@id2 int='' ,
@id3 int ='' )
as
begin 
if(@action ='Routebinddash')
begin
SELECT   MIN(a.RouteId) AS RouteId,ISNULL(a.RouteName, '') + ' (' + ISNULL(a.RouteCode, '') + ')'AS RouteName FROM Routemaster a where CompanyId=@id and BranchId=@id2 GROUP BY a.RouteName, a.RouteCode 

end

if(@action='BindEmployee')
begin
select empid,empname + ' ('+empcode+')' from mst_employee where CompanyId=@id and BranchId=@id2
end

if(@action='BindCustomer')
begin
select a.Id,CustomerName + ' ('+a.CustomerCode+')' from Customer a where a.CompanyId=@id and a.BranchId=@id2
end

if(@action='BindSite')
begin
select a.SiteId,SitName+ ' ('+a.SiteCode+')' from SITEMASTER a where a.CompanyId=@id and a.BranchId=@id2
end


if(@action='BindRoute')

begin
select distinct a.RouteCode,RouteName+ ' ('+a.RouteCode+')' from RouteMaster a where a.CompanyId=@id and a.BranchId=@id2
end

if(@action='BindShifttoSide')

begin 
select  a.Shift_Id as Id,a.ShiftName+ ' ('+a.ShiftCode+')' as Name from  ShiftMaster a where a.CompanyId=@id and a.BranchId=@id2 and a.SiteName=@id3
end

if(@action='BindbeattoShift')

begin 
select  a.BeatShift_Id as Id,a.BeatShiftName+ ' ('+a.BeatCode+')' as Name from BeatShiftMaster a where a.CompanyId=@id and a.BranchId=@id2 and a.ShiftId=@id3
end

if(@action='BindRoutetoBeat')

begin 
select  max(a.RouteId) as Id,a.RouteName+ ' ('+a.RouteCode+')' as Name from RouteMaster a   where a.CompanyId=@id and a.BranchId=@id2  and a.SiteId=@id3 group by RouteName,RouteCode
end

if(@action='Bindshift')

begin 
select Shift_Id,ShiftName + ' (' + ISNULL(ShiftCode, '') + ')' ShiftName  from ShiftMaster where CompanyId=@id and BranchId=@id2 and Status=1


end

if(@action='bindBranch')
begin
select a.Branch_Id as locid, a.BranchName  from Branch a where a.CompanyId=@id and Status=1
end


if(@action='bindCompany')
begin
SELECT Com_Id, CompanyName + ' (' + ISNULL(CompanyCode, '') + ')' AS CompanyName 
FROM Company where Status =1;
end

if(@action='Customer')
begin
select Id, Customername+ ' (' + ISNULL(CustomerCode, '') + ')' as Customername from Customer where CompanyId=@id and BranchId=@id2 
end


end
GO
/****** Object:  StoredProcedure [dbo].[EmployeeLogin]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[EmployeeLogin](
@EmpId varchar(50),
@password varchar(50) 

)as
begin

if exists (select * FROM mst_Employee where  EmpCode=@EmpId)  
BEGIN  
if exists (select * from mst_Employee where EmpCode=@EmpId and Password=@password)  
BEGIN  

--select distinct emp.EmpId,EmpCode,EmpName,emp.CompanyId,emp.BranchId,Dept,Designation,cs.customerid,cs.siteid from mst_Employee emp join EmployeesMapTocustomerSite cs on emp.Empid=cs.empid  where empcode=@EmpId and Password=@password  
 --select * from EmployeesMapTocustomerSite
 --select * from mst_Employee

 select emp.EmpId,EmpCode,EmpName,emp.CompanyId,emp.BranchId,Dept,Designation from mst_Employee emp  where empcode=@EmpId and Password=@password  

END  
ELSE  
BEGIN  
select 'Error' as Status,'Incorrect Password' as Message  
END  
END  
ELSE  
BEGIN  
select 'Error' as Status,'Invalid EmployeeId' as Message  
END 

end


GO
/****** Object:  StoredProcedure [dbo].[GetmapDetails]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetmapDetails]
@beatid int ,
@branch int,
@companyid int
as begin
select case when isnull(a.Checked,0)=0 then 'No' else 'Yes' end as Checked,a.indexsequenace,a.RouteName,c.Postid as BeatId,c.PostName as BeatName,c.latitude,c.Longitude as longitude,d.CustomerName as EmpName from  RouteMaster a join GARUDTOUR.AssignBeat b on a.SiteId=b.SiteId join PostMaster c on a.PostId=c.Postid join Customer d on c.CustomerId=d.Id  where  b.BeatId=@beatid and  a.CompanyId=@companyid and a.BranchId=@branch order by indexsequenace
end
--select * from RouteMaster

GO
/****** Object:  StoredProcedure [dbo].[Udp_Forgetpassword]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Udp_Forgetpassword](
@username varchar(50),
@oldpwd varchar(50),
@confpwd varchar(50) 

)as
begin

if exists (select * FROM mst_Employee where  Empid=@username)  
BEGIN  
if exists (select * from mst_Employee where Empid=@username and Password=@oldpwd)  
BEGIN  
  
update mst_Employee set Password=@confpwd where Empid=@username and Password=@oldpwd  
  select '1' as MessageId,'Password Updated SuccessFully' as ErrorMessage 
END  
ELSE  
BEGIN  
select '1' as MessageId,'Incorrect Old Password' as ErrorMessage  
END  
END  
ELSE  
BEGIN  
select '1' as MessageId,'Invalid Employee Id' as ErrorMessage  
END 


end


GO
/****** Object:  StoredProcedure [dbo].[Usp_ApiProcedure]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_ApiProcedure]
@jsonData nvarchar(Max) ='[]'
as

begin
declare @type int=0,@cType int=0,@data nvarchar(max)

declare @user nvarchar(50),@apiname nvarchar(200),@msg varchar(200),@status varchar(200),@hist_data nvarchar(max),@id int,@date varchar(100),@DocDate varchar(100),@Approve int,@trandetailid int,@TicketNo int,@DutySlipNo varchar(100),@cruser int,
  @mail nvarchar(max)='[{"from":"akash@bsdinfotech.com","to":"varTo","cc":"","bcc":"","subject":"varsubject","attach":"varattach","_body":"<div><h4>Your One Time Password :varPassotp<h4></div>","attachPath":"","MAIL_PASSWORD":"15M7Y1998@$","Host":"mail.bsdinfotech.com"}]',@mailreturn nvarchar(max),
 @sms nvarchar(max)='http://103.16.101.52:8080/sendsms/bulksms?username=bsd-bsdinf&password=bsd123&type=0&dlr=1&destination=VARTOMOBILE&source=BSDINF&message=Your Registration OTP is :" + VAROTP + " BSD Infotech&entityid=1001834919579515999&tempid=1107160396362855775',@smsreturn nvarchar(max)

Select * into #Temptable from openJson(@JsonData)  
with
(
UserId int '$.UserId',
id int '$.id',
type int '$.type',
mode varchar(50) '$.mode',

custid int '$.custid',
custcode varchar(50) '$.custcode',
custname varchar(50) '$.custname',
siteid int '$.siteid',
sitename varchar(50) '$.sitename',
sitecode varchar(50) '$.sitecode',
latitude varchar(50) '$.latitude',
longtitude varchar(50) '$.longtitude',
status int '$.status',
entryuser int '$.entryuser',
beatid int '$.Beatid',
beatname varchar(50) '$.beatname',
beatcode varchar(50) '$.beatcode',
Beatsiteid int '$.sitenameid',
Emptype varchar(50) '$.Employeetype',
EmpTypeid int '$.empid',
companyname varchar(50) '$.companyname',
companycode int  '$.companycode',
branchname varchar(50) '$.branchname',
regionname varchar(50) '$.regionname',
postid int  '$.postid',
name varchar(50) '$.name',
code int '$.code',
CompanyId int '$.CompanyId',
BranchId int '$.BranchId',
Password varchar(20) '$.Password',
indexsequenace int '$.index',
Gender varchar(20) '$.Gender',
Designation varchar(50) '$.Designation',
beatidd int '$.beatidd',
routeid int '$.routeid',
routename  varchar(50)  '$.routename',
routecode varchar(50)  '$.routecode',
shiftid int '$.shiftid',
Shiftname  varchar(50)  '$.Shiftname',
intime varchar(50) '$.intime',
outtime varchar(50) '$.outtime',
comid   int '$.comid',
comname varchar(50) '$.comname',
comcode varchar(50)  '$.comcode',
branchcode varchar(50)  '$.branchcode',
-------------------------
Empcode varchar(50) '$.EmployeeCode',
Empname varchar(50) '$.Employee',
DOB date '$.DOB',
DOjoin date '$.DOjoin',
Dept varchar(50) '$.Dept',
empid int ,
RouteAssginName varchar(50) '$.RouteAssginName',
RouteAssgincode varchar(50) '$.RouteAssgincode',
---------------------------
APIType varchar(200) '$.APIType',
ApiName varchar(200) '$.ApiName',
Description varchar(max) '$.Description',
Parameter varchar(200) '$.Parameter',
url nvarchar(max) '$.url'



)

set @type = (Select max(type)from  #Temptable )

if(@type=1)
begin
IF EXISTS (SELECT 1 FROM #Temptable b 
               INNER JOIN PostMaster br ON b.siteid = br.SiteId 
               WHERE b.mode = 'Del')
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Cannot delete the Site. Please delete associated Posts first.'
    END

	ELSE IF EXISTS ( SELECT b.sitecode FROM #Temptable b INNER JOIN sitemaster br ON b.sitecode = br.sitecode and br.CustomerId=b.custid and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId  AND ISNULL(b.siteid, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Site Code Already Exist ON This Customer'
    END
	ELSE
BEGIN
merge sitemaster a using #Temptable b
on(a.siteid=b.siteid)
 when matched and b.mode='Del' then  Delete         
							   
								when Matched and b.mode = 'edit' 
								
								then update set a.sitname=b.sitename,
												a.sitecode=b.sitecode,
												a.CustomerId=b.custid,
												a.CompanyId=b.CompanyId,
												a.BranchId=b.BranchId,
												a.status=b.status,
												--a.latitude=b.latitude,
												--a.longitude=b.longtitude,
												a.modifydate=getdate()
									 when not matched then insert (sitname,sitecode,CompanyId,status,BranchId,CustomerId,
									 ---longitude,latitude,
									 entryuser,entrydate)                                          
											 values(b.sitename,b.sitecode,b.CompanyId,b.status,b.BranchId,b.custid,
											 --b.longtitude,b.latitude,
											 b.entryuser,getdate());

								 set @status='Success'
							 --set @msg='Success'
							 set @msg=(case when (select siteid from #Temptable)=0 then 'Site Save successfully' when (select mode from #Temptable)='Del' and (select siteid from #Temptable)<>0 then 'Site Delete successfully' else 'Site Update successfully' end)
								 set @data='[]'

								 end
end

if(@type=2)
begin
 set @status=''
  set @msg=''
  --select * from SITEMASTER
set @data=(select ROW_NUMBER() over(order by a.siteid)[SNo],A.companyid [Hid_companyid],a.siteid[Hid_siteid],a.CustomerId[Hid_custid],isnull(e.CustomerName ,'')+ ' (' + ISNULL(e.CustomerCode, '') + ')'[Customer Name], a.SiteCode[Site Code],SitName [Site Name],c.Branch_Id[Hid_Branch_Id],  (case when A.Status=1 then 'Active' else 'InActive' end ) as Status, '<a class="btn btn-danger text-white" href="/Master/Post?site='+ cast(a.SiteId as varchar)+'&custid='+cast(a.CustomerId as varchar)+'">'+ cast((select count(*) from PostMaster pp where pp.SiteId=A.SiteId )as varchar) +'</a>'as [No of Post] ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.siteid)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.siteid as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action  from SITEMASTER A join Company B on A.CompanyId=B.Com_Id join Branch c on a.BranchId=c.Branch_Id join Customer e on a.CustomerId=e.Id, #Temptable d
									   where a.CompanyId=d.CompanyId and a.BranchId=d.BranchId and a.CustomerId=d.id for json path);

end
if(@type=3)
begin
IF EXISTS (SELECT 1 FROM #Temptable b 
               INNER JOIN Routemaster br ON b.beatid = br.PostId 
               WHERE b.mode = 'Del')
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Cannot delete the Post. Please delete associated Routes first.'
    END

ELSE IF EXISTS ( SELECT b.beatname FROM #Temptable b INNER JOIN PostMaster br ON b.beatname = br.postname and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId AND ISNULL(b.beatid, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Post Name Already Exist'
    END
	
ELSE IF EXISTS ( SELECT b.name FROM #Temptable b INNER JOIN PostMaster br ON b.beatcode = br.postcode and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId AND ISNULL(b.beatid, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Post Code Already Exist'
    END
	ELSE
BEGIN

merge PostMaster a using #Temptable b
on(a.postid=b.beatid)
 when matched and b.mode='Del' then  Delete         
							   
								when Matched and b.mode = 'edit' 
								
								then update set a.postname=b.beatname,
												a.postcode=b.beatcode ,
												a.siteid=b.Beatsiteid ,
												a.status=b.status,
												a.latitude=b.latitude,
												a.longitude=b.longtitude,
												a.CompanyId=b.CompanyId,
												a.BranchId=b.BranchId,
												a.CustomerId=b.custid,
												a.modifydate=getdate()
									 when not matched then insert (siteid,postcode,postname,status,longitude,latitude,entryuser,entrydate,CompanyId,BranchId,CustomerId)                                          
											 values(b.Beatsiteid,b.beatcode,b.beatname,b.status,b.longtitude,b.latitude,b.entryuser,getdate(),b.CompanyId,b.BranchId,b.custid);

								 set @status='Success'
							 --set @msg='Success'
							 set @msg=(case when (select beatid from #Temptable)=0 then 'Post Save successfully' when (select mode from #Temptable)='Del' and (select beatid from #Temptable)<>0 then 'Post Delete successfully' else 'Post Update successfully' end)
								 set @data='[]'

								 end
end
if(@type=4)
begin
 set @status='Success'
  set @msg='Show Data'

  --select * from postmaster
set @data=(select ROW_NUMBER() over(order by a.postid)[SNo], a.postid[Hid_beatid],a.CustomerId[Hid_custid],isnull(f.CustomerName ,'')+ ' (' + ISNULL(f.CustomerCode, '') + ')'[Customer Name],a.SiteId[Hid_siteid],isnull(b.SitName ,'')+ ' (' + ISNULL(b.SiteCode, '') + ')'[Site Name],A.CompanyId [Hid_CompanyId],d.Branch_Id[Hid_Branch_Id], a.postcode [Post Code] ,a.postName[Post Name], a.latitude[Latitude],a.Longitude, (case when a.Status=1 then 'Active' else 'InActive' end ) Status,'<i class="fas fa-download" onclick="QRCODE('''+cast (a.postid as varchar)+''','''+a.postName+''')"></i>'as [QR Code], '<a class="btn btn-danger text-white" href="/Master/RoutList/'+ cast(a.Postid as varchar)+'">'+ cast((select  count(RouteCode) from RouteMaster rr where rr.PostId=a.Postid and rr.SiteId=a.SiteId and rr.CustomerId=a.CustomerId )as varchar) +'</a>'as [No of Route]  ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.postid)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit"		
				style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.postid as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>' 
				as Action
			
				from PostMaster a join sitemaster b on a.siteid=b.SiteId join Company c on A.CompanyId=c.Com_Id join Branch d on a.BranchId=d.Branch_Id join Customer f on a.CustomerId=f.Id, #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId and a.SiteId=e.id and a.CustomerId=e.custid  for json path);

end


if(@type=5)
begin


IF EXISTS (SELECT 1 FROM #Temptable b 
               INNER JOIN SITEMASTER br ON b.custid = br.CustomerId 
               WHERE b.mode = 'Del')
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Cannot delete the Customer. Please delete associated Sites first.'
    END


	ELSE IF EXISTS ( SELECT b.custcode FROM #Temptable b INNER JOIN Customer br ON trim(b.custcode) = trim(br.CustomerCode) and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId  AND ISNULL(b.custid, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Customer Code Already Exist'
    END

	ELSE
BEGIN
			merge Customer a using #Temptable b
			on(a.Id=b.custid)
			 when matched and b.mode='Del' then  Delete         
							   
					when Matched and b.mode = 'edit' 
								
					then update set a.CustomerName=b.custname,
					        a.CustomerCode=b.custcode,
							a.CompanyId=b.CompanyId,
							a.BranchId=b.BranchId,
							a.status=b.status,
							a.modifydate=getdate()
					 when not matched then insert (CustomerName,CustomerCode,CompanyId,BranchId,status,UserId,entrydate)                                          
					  values(b.custname,b.custcode,b.CompanyId,b.BranchId,b.status,b.entryuser,getdate());

		set @status='Success'

		set @msg=(case when (select custid from #Temptable)=0 then 'Customer Save successfully' when (select mode from #Temptable)='Del' and (select custid from #Temptable)<>0 then 'Customer Delete successfully' else 'Customer Update successfully' end)
								 set @data='[]'


								 end

end


if(@type=6)
begin   --select * from Customer
set @status='Success'
  set @msg='Show Data'
set @data=(select ROW_NUMBER() over(order by a.Id)[SNo], a.Id[Hid_id],a.CustomerCode[Customer Code],a.CustomerName[Customer Name], (case when a.Status=1 then 'Active' else 'InActive' end ) Status,'<a class="btn btn-danger text-white" href="/Master/Site/?id='+cast(a.id as varchar)+'">'+ cast((select count(*) from SITEMASTER bb where bb.CustomerId=a.Id )as varchar) +'</a>'as [No of Site] ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.id as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action  from Customer a  join Company b on a.CompanyId=b.Com_Id join Branch c on a.BranchId=c.Branch_Id , #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId for json path);

end

if(@type=7)
begin

IF EXISTS (SELECT 1 FROM #Temptable b 
               INNER JOIN Branch br ON b.Comid = br.CompanyId 
               WHERE b.mode = 'Del')
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Cannot delete the company. Please delete associated branches first.'
    END


	ELSE IF EXISTS ( SELECT b.comname FROM #Temptable b INNER JOIN Company br ON b.comname = br.CompanyName AND ISNULL(b.comid, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Company Name Already Exist'
    END

	ELSE
BEGIN
merge Company a using #Temptable b
on(a.Com_Id=b.comid )

when matched and b.mode='Del'   then  Delete  


							   
								when Matched and b.mode = 'edit' 
								
								then update set a.CompanyName=b.comname,
												a.CompanyCode=b.comcode,
												a.Status=b.status,
												a.ModifyDate=getdate()
									 when not matched then insert (CompanyName,CompanyCode,Status,UserId,EntryDate)                                          
											 values(b.comname,b.comcode,b.status,b.entryuser,getdate());

								 set @status='Success'
							     set @msg=(case when (select comid from #Temptable)=0 then 'Company Save successfully' when (select mode from #Temptable)='Del' and (select comid from #Temptable)<>0 then 'Company Delete successfully' else 'Company Update successfully' end)

								 set @data='[]'

 END

end

if(@type=8)
begin
 set @status='Success'
  set @msg='Show Data'
set @data=(select ROW_NUMBER() over(order by a.Com_Id)[SNo],a.Com_Id [Hid_Com_Id],a.CompanyCode[Company Code],a.CompanyName [Company Name], (case when A.Status=1 then 'Active' else 'InActive' end ) as Status ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.Com_Id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				style="color:blue"></i></a>' Action  from Company a for json path);

end
if(@type=9)
begin

IF EXISTS (SELECT 1 FROM #Temptable b 
               INNER JOIN Customer br ON b.id = br.BranchId 
               WHERE b.mode = 'Del')
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Cannot delete the Branch. Please delete associated Customers first.'
    END

	ELSE IF EXISTS ( SELECT b.branchname FROM #Temptable b INNER JOIN branch br ON b.branchname = br.branchname and b.comid=br.CompanyId  AND ISNULL(b.id, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Branch Name Already Exist'
    END
	ELSE
BEGIN
merge branch a using #Temptable b
on (a.branch_id =b.id)
when matched and b.mode='Del' then Delete
when matched and b.mode ='edit' then 
update set a.branchname=b.branchname,
 a.BranchCode=b.branchcode,
  a.CompanyId=b.comid,
		a.modifydate =getdate(),
		a.status=b.status
when not matched then insert 
(branchname,BranchCode, CompanyId,status,entrydate,UserId)values
(b.branchname,b.branchcode,b.comid,b.status,getdate(),b.entryuser);

--set @msg='Success'
set @status='Success'

     set @msg=(case when (select id from #Temptable)=0 then 'Branch Save successfully' when (select mode from #Temptable)='Del' and (select id from #Temptable)<>0 then 'Branch Delete successfully' else 'Branch Update successfully' end)
		
		set @data='[]'
		 END
end

if(@type = 10) 
begin 
set @status='Success'
  set @msg='Show Data'
set @data=(select ROW_NUMBER() over(order by a.branch_id) [SNo],a.branch_id[Hid_brid],isnull(a.CompanyId,0)[Hid_CompanyId],isnull(b.CompanyName ,'')+ ' (' + ISNULL(CompanyCode, '') + ')'[Company Name],isnull(a.BranchCode ,'')[Branch Code], a.branchname [Branch Name],(case when a.Status=1 then 'Active' else 'InActive' end) as Status, '<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.branch_id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.branch_id as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action from dbo.Branch a  join   company b on a.CompanyId=b.Com_Id for json path);
end

--if(@type =11)
--begin
--merge region a using #Temptable b
--on (a.Reg_id=b.id)
--when matched and b.mode= 'Del' then Delete
--when matched and b.mode='edit' then 
--update set a.regionname=b.regionname,
--		   a.status=b.status,
--		   a.modifydate =getdate()
--when not matched then insert 
--(regionname,status,entrydate)values
--(b.regionname,b.status,getdate());
--set @msg ='Success'
--set @status ='Success'
--		   end

--if(@type=12)
--begin
--set @status=''
--set @msg=''
--set @data=(select ROW_NUMBER() over(order by a.reg_id)[#],a.reg_id[Hid_regid], a.RegionName[Region Name],(case when a.status=1 then 'Active' else 'InActive' end)[Status],'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.reg_id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.Reg_Id as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action from Region a for json path);
--end





if(@type=13)
begin

merge post a using #Temptable b
on(a.postid=b.postid)
 when matched and b.mode='Del' then  Delete         
							   
								when Matched and b.mode = 'edit' 
								
								then update set a.name=b.name,
												a.code=b.code,
												a.siteid=b.siteid,
												a.status=b.status,
												a.latitude=b.latitude,
												a.longitude=b.longtitude
											
									 when not matched then insert (name,code,siteid,status,longitude,latitude)                                          
											 values(b.name,b.code,b.siteid,b.status,b.longtitude,b.latitude);

								 set @status='Success'
							 set @msg='Success'

end

if(@type=14)
begin
 set @status=''
  set @msg=''
set @data=(select ROW_NUMBER() over(order by a.postid)[SNo],A.siteid [Hid_siteid],A.postid[Hid_postid],A.Name [Post Name],A.Code[ Code],B.SitName[Site Name],A.latitude,A.Longitude, (case when A.Status=1 then 'Active' else 'InActive' end ) as Status ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.postid)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.postid as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action from Post A join SITEMASTER B on A.SiteId=B.SiteId for json path);

end


if(@type=15)
begin
 IF EXISTS ( SELECT b.routename FROM #Temptable b INNER JOIN [GARUDTOUR].[AssignBeat] br ON b.routename = br.RoutId and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId AND ISNULL(b.beatidd, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Beat Route Name Already Exist'
    END
	  else
	  begin
                    merge [GARUDTOUR].[AssignBeat]   a using #Temptable b
                              on(a.BeatRoute_Id=b.beatidd)
								 when matched and b.mode='Del' then  Delete 

                                     when Matched and b.mode = 'edit'    
						
						           then update set 
								             
							                	 a.ShiftId=b.shiftid,
												a.SiteId=b.siteid,
													a.BeatId=b.beatid,
														a.RoutId=b.routename,
														a.ModifyDate=getdate(),
														a.entryuser=b.UserId,
														a.CustomerId=b.custid,
														a.BranchId=b.BranchId,
														a.CompanyId=b.CompanyId,
														a.BeatRouteCode=b.routecode,

						
						
												a.Status=b.status
									
									 when not matched then insert 
						 (BeatRouteCode,CompanyId,BranchId,CustomerId,ShiftId,SiteId,BeatId,RoutId,Status,Entrydate,entryuser )values(b.routecode,b.CompanyId,b.BranchId,b.custid,b.shiftid,b.siteid,b.beatid,b.routename,b.status,getdate(),b.UserId);


						  set @status='Success'
							 --set @msg='Success'
							  set @msg=(case when (select beatidd from #Temptable)=0 then 'Beat Assign save successfully' when (select mode from #Temptable)='Del' and (select beatidd from #Temptable)<>0 then 'Beat Assign  Delete successfully' else 'Beat Assign  Update successfully' end)
								 set @data='[]'

								 END
						 end 

if(@type=16)
begin
 set @status=''
  set @msg=''
set @data=(select ROW_NUMBER() over(order by a.BeatRoute_Id)[SrNo], a.BeatRoute_Id[Hid_BeatRoute_Id], a.ShiftId Hid_ShiftId,g.Id[Hid_Id],isnull(g.CustomerName ,'')+ ' (' + ISNULL(g.CustomerCode, '') + ')'[Customer Name],a.SiteId Hid_SiteId,a.BeatId Hid_BeatId ,isnull(b.SitName ,'')+ ' (' + ISNULL(b.SiteCode, '') + ')'[Site Name],isnull(d.shiftname ,'')+ ' (' + ISNULL(d.ShiftCode, '') + ')'[Shift Name]   ,isnull(c.BeatShiftName ,'')+ ' (' + ISNULL(c.BeatCode, '') + ')'[Beat Name],a.RoutId[Hid_RoutId],isnull(f.RouteName ,'')+ ' (' + ISNULL(f.RouteCode, '') + ')'[Route Name], (case when a.Status=1 then 'Active' else 'InActive' end ) Status ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.BeatRoute_Id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.BeatRoute_Id as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>' Action from [GARUDTOUR].[AssignBeat] a  join  SITEMASTER b on a.SiteId=b.SiteId  join BeatShiftMaster c on c.BeatShift_Id=a.beatid  join ShiftMaster d on a.ShiftId=d.Shift_Id  join RouteMaster f on a.RoutId=f.RouteId  join Customer g on a.CustomerId=g.Id , #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId   for json path);

end


if(@type=17)
begin
IF EXISTS (SELECT 1 FROM #Temptable b 
               INNER JOIN BeatShiftMaster br ON b.shiftid = br.ShiftId 
               WHERE b.mode = 'Del')
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Cannot delete the Shift. Please delete associated Beats first.'
    END

	ELSE IF EXISTS ( SELECT b.Shiftname FROM #Temptable b INNER JOIN ShiftMaster br ON b.Shiftname = br.ShiftName and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId AND ISNULL(b.shiftid, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Shift Name Already Exist'
    END
	ELSE
BEGIN

merge ShiftMaster a using #Temptable b
on(a.Shift_Id=b.shiftid)
 when matched and b.mode='Del' then  Delete         
							   
								when Matched and b.mode = 'edit' 
								
								then update set a.CustomerName=b.custid,
							                	 a.SiteName=b.Beatsiteid,
								                a.ShiftName=b.Shiftname,
												a.ShiftInTime=b.intime,
												a.ShiftOutTime=b.outtime,
												a.CompanyId=b.CompanyId,
												a.BranchId=b.BranchId,
												a.status=b.status,
												a.ShiftCode=b.routecode,
												--a.longitude=b.longtitude,
												a.ModifyDate=getdate()
									 when not matched then insert (ShiftCode,CustomerName,SiteName,ShiftName,ShiftInTime,ShiftOutTime,CompanyId,status,BranchId,
									 ---longitude,latitude,
									 UserId,EntryDate)                                          
											 values(b.routecode,b.custid,b.Beatsiteid,b.Shiftname,b.intime,b.outtime,b.CompanyId,b.status,b.BranchId,
											 --b.longtitude,b.latitude,
											 b.entryuser,getdate());

								 set @status='Success'
							-- set @msg='Success'

							 set @msg=(case when (select shiftid from #Temptable)=0 then 'Shift Save successfully' when (select mode from #Temptable)='Del' and (select shiftid from #Temptable)<>0 then 'Shift Delete successfully' else 'Shift Update successfully' end)
								 set @data='[]'

								 end
end


if(@type=18)
begin
 set @status=''
  set @msg=''

set @data=(select ROW_NUMBER() over(order by a.Shift_Id)[SNo], a.Shift_Id[Hid_Shift_Id],f.Id[Hid_Id],isnull(f.CustomerName ,'')+ ' (' + ISNULL(f.CustomerCode, '') + ')'[Customer Name],g.SiteId[Hid_siteid],isnull(g.SitName ,'')+ ' (' + ISNULL(g.SiteCode, '') + ')'[Site Name],isnull(a.ShiftCode,'')[Shift Code], a.ShiftName[Shift Name],a.ShiftInTime [Shift InTime],a.ShiftOutTime[Shift OutTime],A.CompanyId [Hid_CompanyId],d.Branch_Id[Hid_Branch_Id],(case when a.Status=1 then 'Active' else 'InActive' end ) Status,'<a class="btn btn-danger text-white" href="/Master/beat/?id='+cast(a.CustomerName as varchar)+'">'+ cast((select count(*) from BeatShiftMaster bb where bb.CustomerId=a.CustomerName and bb.ShiftId=a.Shift_Id )as varchar) +'</a>'as  [No Of Beat] ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.Shift_Id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.Shift_Id as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action  from ShiftMaster a join Company c on A.CompanyId=c.Com_Id join Branch d on a.BranchId=d.Branch_Id join Customer f on a.CustomerName=f.Id join SITEMASTER g on a.SiteName=g.SiteId, #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId for json path);

end

if(@type=19)
begin
 set @status=''
  set @msg=''
set @data=(select ROW_NUMBER() over(order by a.postid)[SNo], a.postid[Hid_beatid],a.SiteId[Hid_siteid],
--,b.SitName[Site Name],A.CompanyId [Hid_CompanyId],c.CompanyName[Company Name],d.BranchName[Branch Name],d.Branch_Id[Hid_Branch_Id],
a.postName[PostName]
--a.beatcode [Post Code] , a.latitude[Latitude],a.Longitude, (case when a.Status=1 then 'Active' else 'InActive' end ) Status ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.beatid)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				---style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.beatid as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action
			
				from PostMaster a join sitemaster b on a.siteid=b.SiteId join Company c on A.CompanyId=c.Com_Id join Branch d on a.BranchId=d.Branch_Id , #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId and a.SiteId=e.siteid for json path);

end


if(@type=20)
begin

IF EXISTS (SELECT b.routename FROM #Temptable b 
               INNER JOIN Routemaster br ON b.routename = br.RouteName and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId
              AND ISNULL(b.routeid,0)=0)
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Route Name Already Exist'
    END
	else IF EXISTS (SELECT b.routecode FROM #Temptable b 
               INNER JOIN Routemaster br ON b.routecode=br.RouteCode and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId
              AND ISNULL(b.routeid,0)=0)
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Route Code Already Exist'
    END
	ELSE
BEGIN


--select  * from Routemaster
merge Routemaster a using #Temptable b
on(a.RouteId=b.routeid)
 when matched and b.mode='Del' then  Delete         
							   
								when Matched and b.mode = 'edit' 
								
								then update set a.RouteName=b.routename,
												a.SiteId=b.siteid,
												a.indexsequenace=b.indexsequenace,
												a.PostId=b.postid,
												a.CompanyId=b.CompanyId,
												a.BranchId=b.BranchId,
												a.Status=b.status,
												a.CustomerId=b.custid,
												a.RouteCode=b.routecode,
												a.ModifyDate=getdate()
									 when not matched then insert (RouteName,SiteId,PostId,CompanyId,status,BranchId,
									 CustomerId,RouteCode,
									 UserId,EntryDate,indexsequenace)                                          
											 values(b.routename,b.siteid,b.postid,b.CompanyId,b.status,b.BranchId,
											 b.custid,b.routecode,
											 b.entryuser,getdate(),b.indexsequenace);

								 set @status='Success'
							 set @msg='Route Save successfully'
							 --set @msg=(case when (select routeid from #Temptable)=0 then 'Route Save successfully' when (select mode from #Temptable)='Del' and (select routeid from #Temptable)<>0 then 'Route Delete successfully' else 'Route Update successfully' end)
								 --set @data='[]'

								 end

end



if(@type=21)
begin
IF EXISTS (SELECT 1 FROM #Temptable b 
               INNER JOIN [GARUDTOUR].[AssignBeat] br ON b.beatidd = br.BeatId 
               WHERE b.mode = 'Del')
    BEGIN
        SET @status = 'Failed'
        SET @msg = 'Cannot delete the Beat. Please delete associated Beat Assign Routes first.'
    END

	ELSE IF EXISTS ( SELECT b.beatname FROM #Temptable b INNER JOIN BeatShiftMaster br ON b.beatname = br.BeatShiftName and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId AND ISNULL(b.beatidd, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Beat Name Already Exist'
    END

	ELSE
BEGIN

merge BeatShiftMaster a using #Temptable b
on(a.BeatShift_Id=b.beatidd)
 when matched and b.mode='Del' then  Delete         
							   
								when Matched and b.mode = 'edit' 
								
								then update set a.BeatShiftName=b.beatname,
												a.BeatShiftInTime=b.intime,
												a.BeatShiftOutTime=b.outtime,
												a.CompanyId=b.CompanyId,
												a.BranchId=b.BranchId,
												a.status=b.status,
												a.ShiftId=b.shiftid,
												a.CustomerId=b.custid,
												a.SiteId=b.Beatsiteid,
												a.BeatCode=b.beatcode,
												a.ModifyDate=getdate()
									 when not matched then insert (BeatCode,CustomerId,SiteId,BeatShiftName,BeatShiftInTime,BeatShiftOutTime,CompanyId,Status,BranchId,
									 ShiftId,
									 --,latitude,
									 UserId,EntryDate)                                          
											 values(b.beatcode,b.custid,b.Beatsiteid,b.beatname,b.intime,b.outtime,b.CompanyId,b.status,b.BranchId,
											 b.shiftid,
											 --b.latitude,
											 b.entryuser,getdate());

								 set @status='Success'
							 --set @msg='Success'
							  set @msg=(case when (select beatidd from #Temptable)=0 then 'Beat Save successfully' when (select mode from #Temptable)='Del' and (select beatidd from #Temptable)<>0 then 'Beat Delete successfully' else 'Beat Update successfully' end)
								 set @data='[]'

								 end

end


if(@type=22)
begin
 set @status=''
  set @msg=''
set @data=(select ROW_NUMBER() over(order by a.BeatShift_Id)[SNo],a.BeatShift_Id[Hid_BeatShift_Id],f.Id[Hid_Id],isnull(f.CustomerName ,'')+ ' (' + ISNULL(f.CustomerCode, '') + ')'[Customer Name],g.SiteId[Hid_siteid],isnull(g.SitName ,'')+ ' (' + ISNULL(g.SiteCode, '') + ')'[Site Name], b.Shift_Id[Hid_Shift_Id],isnull(b.ShiftName ,'')+ ' (' + ISNULL(b.ShiftCode, '') + ')'[Shift Name],isnull(a.BeatCode,'')[Beat Code],a.BeatShiftName[Beat Name],a.BeatShiftInTime [Beat InTime],a.BeatShiftOutTime[Beat OutTime],A.CompanyId [Hid_CompanyId],d.Branch_Id[Hid_Branch_Id],(case when a.Status=1 then 'Active' else 'InActive' end ) Status ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.BeatShift_Id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				style="color:blue"></i></a>'+SPACE(3)+'<a href=""  onclick="DeletebyId('+cast(a.BeatShift_Id as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action  from  BeatShiftMaster a join 
				

				ShiftMaster b on a.ShiftId=b.Shift_Id join Company c on A.CompanyId=c.Com_Id join Branch d on a.BranchId=d.Branch_Id  join Customer f on a.CustomerId=f.Id join SITEMASTER g on a.SiteId=g.SiteId, #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId for json path);

end



if(@type=23)
begin
 set @status=''
  set @msg=''
set @data=(SELECT 
    ROW_NUMBER() OVER(ORDER BY max(a.RouteId)) AS SNo,    
    ISNULL(max(f.CustomerName), '') + ' (' + ISNULL(max(f.CustomerCode), '') + ')' AS [Customer Name],
    --MIN(a.SiteId) AS Hid_siteid,
    ISNULL(max(b.SitName), '') + ' (' + ISNULL(max(b.SiteCode), '') + ')' AS [Site Name],
    max(a.RouteCode) AS [Route Code],
    a.RouteName AS [Route Name],
	
	
	
    (CASE WHEN MIN(a.Status) = 1 THEN 'Active' ELSE 'InActive' END) AS Status ,
	'<a href="/Master/Route/'+cast(max(a.CustomerId) as varchar)+'" class="btn btn-danger text-white">Add New</a>' as [New Route],
	'<a class="btn btn-sm" href="#" onclick="return showbom(''' + a.RouteName + ''')">
        <i style="color:red" class="fa fa-eye"></i>
    </a>' as [View] FROM Routemaster a 

JOIN sitemaster b ON a.siteid = b.SiteId 
JOIN Company c ON a.CompanyId = c.Com_Id 
JOIN Branch d ON a.BranchId = d.Branch_Id 
JOIN Customer f ON a.CustomerId = f.Id, 
#Temptable e
WHERE a.CompanyId = e.CompanyId 
AND a.BranchId = e.BranchId --and a.SiteId=e.id
GROUP BY a.RouteName for json path);

end




if(@type=24)
begin
 set @status=''
  set @msg=''
set @data=(SELECT  
    ROW_NUMBER() OVER(ORDER BY (a.RouteId)) AS SNo, 
    (a.RouteId) AS Hid_RouteId,
  
    (a.PostId)as Hid_PostId,
	h.postCode[Post Code],
	isnull(h.postName ,'') [Post Name]
    
	 FROM Routemaster a 
	 

JOIN sitemaster b ON a.siteid = b.SiteId 
JOIN Company c ON a.CompanyId = c.Com_Id 
JOIN Branch d ON a.BranchId = d.Branch_Id 
JOIN Customer f ON a.CustomerId = f.Id 
join PostMaster h on a.PostId=h.postid and a.CustomerId= h.CustomerId ,
#Temptable e
WHERE
a.CompanyId = e.CompanyId 
and a.RouteName=e.routename
AND a.BranchId = e.BranchId  order by a.indexsequenace
for json path);

end

-- Employee Master--------------------

if(@type=25)
begin


--IF EXISTS (SELECT 1 FROM #Temptable b 
--               INNER JOIN mst_employee br ON b.custid = br.empid 
--               WHERE b.mode = 'Del')
--    BEGIN
--        SET @status = 'Failed'
--        SET @msg = 'Cannot delete the Customer. Please delete associated Sites first.'
--    END


	IF EXISTS ( SELECT b.Empcode FROM #Temptable b INNER JOIN mst_employee br ON trim(b.Empcode) = trim(br.empcode) and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId  AND ISNULL(b.custid, 0) = 0)
   
     BEGIN
        SET @status = 'Failed'
        SET @msg = 'Employee Code Already Exist'
    END
	

	ELSE
BEGIN
			merge mst_employee a using #Temptable b
			on(a.empid=b.custid)
			 when matched and b.mode='Del' then  Delete         
							   
					when Matched and b.mode = 'edit' 
								
					then update set a.empname=b.Empname,
					        a.empcode=b.Empcode,
							a.CompanyId=b.CompanyId,
							a.DOB=b.DOB,
							a.DoJoin=b.DOjoin,
							a.Dept=b.Dept,
							a.Password=b.Password,
							a.Designation=b.Designation,
							a.Gender=b.Gender,
							a.BranchId=b.BranchId,
							a.status=b.status,
							a.userid=b.UserId,
							a.modifydate=getdate()
						
					 when not matched then insert (EmpName,EmpCode,DOB,DoJoin,Dept,Password,Designation,Gender,CompanyId,BranchId,status,UserId,entrydate)                                          
					  values(b.Empname,b.Empcode,b.Dob,b.DOjoin,b.Dept,b.Password,b.Designation,b.Gender,b.CompanyId,b.BranchId,b.status,b.UserId,getdate());

		set @status='Success'

		set @msg=(case when (select custid from #Temptable)=0 then 'Empplyee Save successfully' when (select mode from #Temptable)='Del' and (select custid from #Temptable)<>0 then 'Employee Delete successfully' else 'Employee Update successfully' end)
								 set @data='[]'


								 end

end

if(@type=26)
begin   --select * from mst_employee
set @status='Success'
  set @msg='Show Data'
set @data=(select ROW_NUMBER() over(order by a.Empid)[SNo], a.Empid[Hid_id],a.empcode[Employee Code],a.empname[Employee Name],a.Gender,a.Designation,a.Password,convert(varchar,cast(a.dob as date),106)[Date of Birth],convert(varchar,cast(a.dojoin as date ),106)[Date Of Joining],a.dept[Dept], (case when a.Status=1 then 'Active' else 'InActive' end ) Status ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.empid)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.Empid as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action  from mst_employee a  join Company b on a.CompanyId=b.Com_Id join Branch c on a.BranchId=c.Branch_Id , #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId for json path);

end


---- Employee map to customer and site--------------------

if(@type=27)



--IF EXISTS (SELECT 1 FROM #Temptable b 
--               INNER JOIN mst_employee br ON b.custid = br.empid 
--               WHERE b.mode = 'Del')
--    BEGIN
--        SET @status = 'Failed'
--        SET @msg = 'Cannot delete the Customer. Please delete associated Sites first.'
--    END


iF EXISTS ( SELECT b.Empid FROM #Temptable b INNER JOIN EmployeesMapTocustomerSite br ON b.empid = br.empid and b.custid=br.customerid and b.siteid=br.siteid and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId  AND ISNULL(b.id, 0) = 0)
   
 BEGIN
     SET @status = 'Failed'
      SET @msg = 'Employee Mapped Already Exist'
  END

	ELSE
		BEGIN
			merge EmployeesMapTocustomerSite a using #Temptable b
			on(a.id=b.id)
			 when matched and b.mode='Del' then  Delete         
							   
					when Matched and b.mode = 'edit' 
							
					then update set a.empid=b.empid,
					        a.siteid=b.siteid,
							a.CompanyId=b.CompanyId,
							a.BranchId=b.BranchId,
							a.customerid=b.custid,							
							a.status=b.status,
							a.entryuser=b.UserId,
							a.modifydate=getdate()
						
					 when not matched then insert (empid,siteid,customerid,CompanyId,BranchId,status,entryuser,entrydate)                                          
					  values(b.empid,b.siteid,b.custid,b.CompanyId,b.BranchId,b.status,b.UserId,getdate());

		set @status='Success'

		set @msg=(case when (select id from #Temptable)=0 then 'Empplyee Mapped Successfully' when (select mode from #Temptable)='Del' and (select id from #Temptable)<>0 then 'Employee Mapped Delete successfully' else 'Employee Mapped Update successfully' end)
								 set @data='[]'



end



if(@type=28)
begin   --select * from EmployeesMapTocustomerSite
set @status='Success'
  set @msg='Show Data'
set @data=(select ROW_NUMBER() over(order by a.id)[SNo], a.id[Hid_id],a.empid[Hid_empid],ms.EmpCode[Emp Code],a.customerid[Hid_custit],a.siteid[Hid_siteid], ms.EmpName[Employee Name],cs.CustomerName[Customer Name],s.SitName[Site Name], (case when a.Status=1 then 'Active' else 'InActive' end ) Status ,'<a onclick="EditbyId('+Cast(ROW_NUMBER() over(order by a.id)-1 as varchar)+ ')" class="Eedditrow" ><i class="fa fa-edit" 
			
				style="color:blue"></i></a>'+SPACE(3)+'<a href="#"  onclick="DeletebyId('+cast(a.id as varchar(10))+')"><i style="color:red;" class="fa fa-trash"></i></a>'Action  from EmployeesMapTocustomerSite a join mst_Employee ms on a.empid=ms.Empid join SITEMASTER s on a.siteid=s.SiteId join Customer cs on a.customerid=cs.Id  join Company b on a.CompanyId=b.Com_Id join Branch c on a.BranchId=c.Branch_Id , #Temptable e
									   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId for json path);





end

---- Employee map to Route --------------------

if(@type=29)



--IF EXISTS (SELECT 1 FROM #Temptable b 
--               INNER JOIN mst_employee br ON b.custid = br.empid 
--               WHERE b.mode = 'Del')
--    BEGIN
--        SET @status = 'Failed'
--        SET @msg = 'Cannot delete the Customer. Please delete associated Sites first.'
--    END


iF EXISTS ( SELECT b.Empid FROM #Temptable b INNER JOIN Employeemaptoroute br ON b.empid = br.empid and b.routecode=br.Routeid and b.CompanyId=br.CompanyId and b.BranchId=br.BranchId WHERE 
        (SELECT mode FROM #Temptable) = 'edit' AND ISNULL(b.id, 0) != 0 
        OR 
        (SELECT mode FROM #Temptable) <> 'edit' AND ISNULL(b.id, 0) = 0)
   
 BEGIN
     SET @status = 'Failed'
      SET @msg = 'Employee Mapped Already Exist'
  END

	ELSE
		BEGIN
			merge Employeemaptoroute a using #Temptable b
			on(a.id=b.id)
			 when matched and b.mode='Del' then  Delete         
							   
					when Matched and b.mode = 'edit' 
							
					then update set a.empid=b.empid,
					      
							a.CompanyId=b.CompanyId,
							a.BranchId=b.BranchId,
							a.Routeid=b.routecode,							
							a.status=b.status,
							a.entryuser=b.UserId,
							a.modifydate=getdate()
						
					 when not matched then insert (empid,Routeid,CompanyId,BranchId,status,entryuser,entrydate)                                          
					  values(b.empid,b.routecode,b.CompanyId,b.BranchId,b.status,b.UserId,getdate());

		set @status='Success'

		set @msg=(case when (select id from #Temptable)=0 then 'Empplyee Maped Successfully' when (select mode from #Temptable)='Del' and (select id from #Temptable)<>0 then 'Employee Map Delete successfully' else 'Employee Maped Update successfully' end)
								 set @data='[]'



end


if(@type=30)

begin   --select * from Employeemaptoroute

set @status='Success'
  set @msg='Show Data'
set @data=(
        SELECT 
		     ROW_NUMBER() OVER (ORDER BY a.id) AS [SNo], 
         --   ROW_NUMBER() OVER (PARTITION BY a.id ORDER BY a.id) AS Hid_row_num,
       
            a.id AS [Hid_id],
            max(a.empid) AS [Hid_empid], 
			a.routeid as [Hid_routeid],
            ms.EmpName AS [Employee Name], 
            rr.RouteName + ' (' + max(rr.RouteCode) + ')' AS [Route Name], 
            CASE 
                WHEN max(a.Status) = 1 THEN 'Active' 
                ELSE 'InActive' 
            END AS Status,
          
               '<i class="fa fa-edit" style="color:blue" onclick="EditbyId(' + CAST(ROW_NUMBER() OVER (ORDER BY a.id) -1 AS VARCHAR) + ')" class="Eedditrow"></i>
          ' +
            '
                <i style="color:red;" class="fa fa-trash" onclick="DeletebyId(' + CAST(a.id AS VARCHAR(10)) + ')"></i>
            ' AS Action  
FROM Employeemaptoroute a 
        JOIN mst_Employee ms ON a.empid = ms.Empid 
        JOIN RouteMaster rr ON a.Routeid = rr.RouteCode  
        JOIN Company b ON a.CompanyId = b.Com_Id 
        JOIN Branch c ON a.BranchId = c.Branch_Id
		
		,
        #Temptable e
        WHERE a.CompanyId = e.CompanyId 
        AND a.BranchId = e.BranchId group by a.id,a.routeid,ms.EmpName,  rr.RouteName
  for json path);
 end
if(@type=31)
	begin
	 set @status=''
	  set @msg=''
	 -- select * from RouteMaster
	set @data=(
	select  max(a.SiteId)as SiteId,
		max(a.RouteId) as RouteId,
	a.routecode,
	max(a.RouteName) +'(' +a.routecode+ ')' as Routename
				
					from RouteMaster a join sitemaster b on a.siteid=b.SiteId join Company c on A.CompanyId=c.Com_Id join Branch d on a.BranchId=d.Branch_Id , #Temptable e
										   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId and a.SiteId=e.siteid group by a.RouteCode for json path);
	end
	if(@type=32)
	begin
	 set @status=''
	  set @msg=''
	 -- select * from ShiftMaster
	set @data=(
	select a.shift_id,a.ShiftCode,
	a.ShiftName +'(' +a.ShiftCode+ ')' as shift
				
				from ShiftMaster a join sitemaster b on a.SiteName=b.SiteId join Company c on A.CompanyId=c.Com_Id join Branch d on a.BranchId=d.Branch_Id , #Temptable e
										   where a.CompanyId=e.CompanyId and a.BranchId=e.BranchId and a.SiteName=e.siteid order by a.ShiftName for json path);
	end

	if(@type=33)

   BEGIN

   --declare @assassignrouteName varchar(50)
  -- set @assassignrouteName = (select max(b.RouteAssginName) as ass from #Temptable b)

-- Delete from Garudtour.RouteAssignment where assignrouteName= @assassignrouteName --and AssignrouteCode in(select max(b.RouteAssgincode) from #Temptable b)
 DELETE t
FROM Garudtour.RouteAssignment AS t
full JOIN #Temptable AS a ON t.AssignrouteCode = a.RouteAssgincode
WHERE t.AssignrouteCode = a.RouteAssgincode;
    

		
					 insert into Garudtour.RouteAssignment(customerid,ShiftId,siteid,RouteCode,assignrouteName,AssignrouteCode,CompanyId,BranchId,status,entryuser,entrydate)                                          
					 select b.custid,b.shiftid,siteid,b.routecode,b.RouteAssginName,b.RouteAssgincode,b.CompanyId,b.BranchId,b.status,b.UserId,getdate() from #Temptable b where b.routecode <>'' and b.shiftid <> 0

		set @status='Success'

		set @msg='Delete Old and Assign New basis on the Route Assign Name and Route Assign Code'
								 set @data='[]'



end

if(@type=34)begin

insert into APIDoc(apiName,apiparms,apidesc,apicallingtype,url) select ApiName,Parameter,Description,APIType,url  from #Temptable
 set @status='Success'
	  set @msg='Doc Created'
end

if(@type=35)
begin


 set @status=''
	  set @msg=''
	  set @data=(select apiName as [API Name],apiparms [Parameters],apidesc[Desc],apicallingtype[Calling Type],url[URL] from APIDoc for json path);
end

--select * from #Temptable
 set @mailreturn=(Select @mail) set @smsreturn=(Select replace(replace(@sms,'VARTOMOBILE',00000),'VAROTP',9987))
			Select (Select @msg "Message",@status "Status",Json_Query(@data) "Data" for json path , WITHOUT_ARRAY_WRAPPER)data ,@mailreturn mail ,@smsreturn sms

end
GO
/****** Object:  StoredProcedure [dbo].[Usp_AppApiProcedure]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_AppApiProcedure]
@jsonData nvarchar(Max) ='[]'
as

begin
declare @type nvarchar(50)='',@cType int=0,@data nvarchar(max)

declare @user nvarchar(50),@apiname nvarchar(200),@msg varchar(200),@status varchar(200),@hist_data nvarchar(max),@id int,@date varchar(100),@DocDate varchar(100),@Approve int,@trandetailid int,@TicketNo int,@DutySlipNo varchar(100),@cruser int,
  @mail nvarchar(max)='[{"from":"akash@bsdinfotech.com","to":"varTo","cc":"","bcc":"","subject":"varsubject","attach":"varattach","_body":"<div><h4>Your One Time Password :varPassotp<h4></div>","attachPath":"","MAIL_PASSWORD":"15M7Y1998@$","Host":"mail.bsdinfotech.com"}]',@mailreturn nvarchar(max),
 @sms nvarchar(max)='http://103.16.101.52:8080/sendsms/bulksms?username=bsd-bsdinf&password=bsd123&type=0&dlr=1&destination=VARTOMOBILE&source=BSDINF&message=Your Registration OTP is :" + VAROTP + " BSD Infotech&entityid=1001834919579515999&tempid=1107160396362855775',@smsreturn nvarchar(max)

Select * into #Temptable from openJson(@JsonData)  
with
(
type varchar(50) '$.type',
CompanyId int '$.CompanyId',
BranchId int '$.BranchId',
Empcode varchar(50) '$.EmployeeCode',
empid int,
Id int '$.Id'

)

set @type = (Select max(type)from  #Temptable )


if(@type='GetTaskdetails')
begin

set @data=(
select  a.RouteName,a.RouteCode,min(case when isnull(a.Checked,0)=0 then 'New' end)as Checked from  RouteMaster a join mst_Employee b on a.BranchId=b.BranchId and a.CompanyId=b.CompanyId join EmployeeMapToRoute c on a.RouteCode=c.Routeid where c.empid=1 group by a.RouteCode,a.RouteName 
for json path)
end

if(@type='GetPost')

begin
set @data=(

select a.Routeid,p.PostName as PostName,p.PostCode as postcode  from EmployeeMapToRoute a  join  RouteMaster b on a.Routeid=b.RouteCode join PostMaster p on b.SiteId=b.SiteId where a.Routeid='R001' group by p.PostName,p.PostCode ,a.Routeid for json path

);
end

if(@type='GetPostbyId')

begin
set @data=(

select p.Postid,a.Routeid,p.PostName as PostName,p.PostCode as postcode  from EmployeeMapToRoute a  join  RouteMaster b on a.Routeid=b.RouteCode join PostMaster p on b.SiteId=b.SiteId , #Temptable t where a.Routeid='R001' and p.postid=t.Id  group by p.PostName,p.PostCode ,a.Routeid,p.Postid for json path

);
end

 --set @mailreturn=(Select @mail) set @smsreturn=(Select replace(replace(@sms,'VARTOMOBILE',00000),'VAROTP',9987))
			Select (Select @msg "Message",@status "Status",Json_Query(@data) "Data" for json path , WITHOUT_ARRAY_WRAPPER)data ,@mailreturn mail ,@smsreturn sms

end



GO
/****** Object:  StoredProcedure [GARUDTOUR].[LoginValidate]    Script Date: 13/05/2025 17:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [GARUDTOUR].[LoginValidate](
@username varchar(50),
@password varchar(50) 

)as
begin

if exists (select * FROM Adm_User where  UserName=@username)  
BEGIN  
if exists (select * from Adm_User where UserName=@username and UserPassword=@password)  
BEGIN  
  
select UserId,UserName from Adm_User where UserName=@username and UserPassword=@password  
  
END  
ELSE  
BEGIN  
select 'Unauthorized' as Status,'Incorrect Password' as ErrorMessage  
END  
END  
ELSE  
BEGIN  
select 'Unauthorized' as Status,'Invalid Username' as ErrorMessage  
END 


end


GO
USE [master]
GO
