USE [nepalorg]
GO
/****** Object:  StoredProcedure [dbo].[uploadfile]    Script Date: 17-02-2025 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[uploadfile]
@jsondata nvarchar(max)
as
begin
  begin Tran
	     begin Try
				select * into #temp from openjson(@jsondata) 
				with 
					(
					   regno varchar(50) '$.RegNo',
					   email varchar(100) '$.Email',
					   firstname varchar(50) '$.FirstName',
					   lastname varchar(50)  '$.LastName',
					   tittleid int '$.TittleId', 
					   password varchar(50) '$.Password',
					   designation varchar(50) '$.Designation',					  
					   Category varchar(100) '$.RegistrationCategory',
					   AbstractNumber varchar(50) '$.AbstractNumberIfpresenter',
					   gender varchar(50) '$.Gender',
					   paystatus int '$.PaymentStatus',
					   address1 varchar(50) '$.Address',
					   address2 varchar(50) '$.Address2',
					   country varchar (50) '$.Country',
					   countryid  int '$.CountryId',
					   CountryCode varchar(50) '$.CountryCodePrefix',
					   countrycodeid int '$.CountryCodeId',
					   nameofinstitude varchar(50) '$.Institute',
					   TYPEOFINSTITUTE  varchar(100) '$.TypeOfInstitude',
					   typeofinstituteid  int '$.TypeOfInstitudeId',
					   accompanyingperson varchar(50) '$.AccompanyingPerson',
					   ACCOMPANYINGPERSONNo  INT '$.AccompanyingPersonNo',
					   acceptflag varchar(50) '$.AcceptFlag',
					   title varchar(50) '$.Title',
					   mobileno varchar(50) '$.MobileNo',
					   DollerRate decimal(18,2) '$.DollerRate',
					 --  category varchar(50) '$.Category',
					   --RegFee Nvarchar(50) '$.RegFee',
					   trackid varchar(100) '$.TrackID',
					   paymentid varchar(100) '$.PaymentTransactionID',
					   receivedamt date '$.Paymentdate',
					   paymentmode varchar(50) '$.PaymentMode ',
					   regdate date '$.RegDate',
					   DOB date '$.DateofBirth',
					 --  PaymentTransactionID varchar(50) '$.PaymentTransactionID',
					  RegFee varchar(15) '$.RegFeesPaidAmountUSDINR',
					   accpersonname1 varchar(50) '$.ACCPersonName1',
					   accpersongender1 varchar(50) '$.ACCPersonGender1',
					   accpersonname2 varchar(50) '$.ACCPersonName2',
					   accpersongender2 varchar(50) '$.ACCPersonGender2',
					   accpersonname3 varchar(50) '$.ACCPersonName3',
					   accpersongender3 varchar(50) '$.ACCPersonGender3',
					   accpersonname4 varchar(50) '$.ACCPersonName4',
					   accpersongender4 varchar(50) '$.ACCPersonGender4',
					   DietaryRequest  NVARCHAR(100) '$.DietaryRequest',
					   remark nvarchar(50)'$.remark',
					   checkid varchar(50) '$.checkid'
					)
	--DECLARE @MemberId int
	--SET @MemberId = SCOPE_IDENTITY()  select * from tbltitle
	
			update a set a.tittleid=b.Id,
			 a.Remark =case when isnull(b.Id,0)=0 then 'Designation Not Found' else a.Remark end 
			from #temp a left outer join tbltitle b on a.designation=b.Title 

			update a set a.countryid=b.Id ,a.countrycodeid = cd.id,
			a.Remark =case when isnull(b.Id,0)=0 then 'Country Not Found' else a.Remark end 
			from #temp  a left outer join tblcountry b on a.country =b.CountyName join tblcountrycode cd on b.CountryCode=cd.CountryCode

			--update a set a.countrycodeid = b.Id ,
			--a.Remark =case when isnull(b.Id,0)=0 then 'Country Code Not Found' else a.Remark end 
			--from #temp a, tblcountrycode b where '+'+a.countrycode=b.CountryCode

			 update  a set a.password=a.regno from #temp a

			   update a set a.typeofinstituteid =b.Id,
			   a.Remark =case when isnull(b.Id,0)=0 then 'TYPEOFINSTITUTE Not Found' else a.Remark end 
			   from #temp a, tblInstitute b where a.TYPEOFINSTITUTE=1
			  
			 -- select * from tblInstitute where TYPEOFINSTITUTE='University'
			   update b set b.checkid=case when a.EmailAddress=b.email then 'Yes' else b.checkid end
			   from #temp b left outer join  tblSignUp a on a.EmailAddress=b.email

			   update b set b.Remark=case when a.reg_no=b.regno then 'Reg No Allready Register' else b.remark end
			   from #temp b left outer join dbo.tblRegistrationCategory   a on a.reg_no=b.regno

	
	--update a set a.category =b.id from #temp a, tblCategory b where a.category=b.Category

	--merge tblSignUp as a 
	--using #temp as b
	--on (a.EmailAddress=b.email)
	--  when matched and b.remark ='' then update set a.EmailAddress=b.email,
	--												  a.ConfirmEmail=b.email,
	--												  a.Mobile=b.mobileno,
	--												  a.Designation=b.tittleid
	--												  ,a.FirstName=b.firstname,
	--												  a.LastName=b.lastname,
	--												  a.Password=b.password,
	--												  a.ConfirmPassword=b.password,
	--												  a.Address1=b.ddress1,
	--												  a.Address2=b.address2,
	--												  a.Gender=b.gender,
	--												  a.Country=b.countryid,
	--												  a.CountryCode=b.countrycodeid,
	--												  a.NameofInstitute=b.nameofinstitude,
	--												  a.typeInstitute=b.typeofinstituteid,
	--												  a.Date=cast(b.DOB as date)

	--	when not matched and b.remark ='' then insert
	--	  (EmailAddress,ConfirmEmail,Mobile,Designation,FirstName,LastName,Password,ConfirmPassword,Address1,Address2,Gender,Country,CountryCode,NameofInstitute,typeInstitute,Date)
	--	 values(b.email,b.email,b.mobileno,b.tittleid,b.firstname,b.lastname,b.password,b.password,b.address1,b.address2,b.gender,b.countryid,b.countrycodeid,b.nameofinstitude,b.typeofinstituteid,cast(b.DOB as date));
	--select * from #temp

		--select * from dbo.tblSignUp 
  -- select * from #temp
    begin
	insert into dbo.tblSignUp (EmailAddress,ConfirmEmail,Mobile,Designation,FirstName,LastName,Password,ConfirmPassword,Address1,Address2,Gender,Country,CountryCode,NameofInstitute,typeInstitute,Date) 
	select email,email,mobileno,tittleid,firstname,lastname,password,password,address1,address1,gender,countryid,countrycodeid,nameofinstitude,typeofinstituteid,cast(DOB as date)
					 from #temp where isnull(remark,'')='' and isnull(checkid,'') = ''
    end

  
					-- select * from tblRegistrationCategory where reg_no='WSE-99987'

	INSERT INTO dbo.tblRegistrationCategory (
    UserId, reg_no, CategoryId, Category, orderid, paymentid, TotalAmount, pay_mode, RegDate,
    Name1, Gender1, Name2, Gender2, Name3, Gender3, Name4, Gender4,
    Accept_Flag, Photo, DietaryRequest, ACCOMPANYINGPERSON, ACCOMPANYINGPERSONNo, 
    pay_status, ReceiptNo, DollerRate_INR )
SELECT b.Id,a.regno, CASE WHEN category = 'Student (Valid ID required)' THEN 3 
        WHEN category = 'Regular' THEN 1 
        ELSE 3 
    END AS CategoryId,category,
    a.FIRSTNAME + mobileno,
    paymentid,    RegFee,
    'Offline',
    regdate,
    'Admin',  'Admin',
     'Admin',  'Admin',
     'Admin',  'Admin',
     'Admin',  'Admin',
    1,
    'noPhoto.png',
     'Admin',
     'Admin',
    1,
    1 AS pay_status,
    ('WSC25_' + FORMAT(GETDATE(), 'ddMMyyyyHHmmssmmff')),
    DollerRate
FROM #temp a 
JOIN tblSignUp b ON a.email = b.EmailAddress --AND a.mobileno = b.Mobile  
WHERE ISNULL(a.remark, '') = '';
--select * from #temp
	--select * from #temp a, tblInstitute b where a.nameofinstitude=b.InstitueName
	--select 'Uploaded Successfully' MESSAGE;  'WSC25_'+format(b.Id,'00000')

	  select Case when isnull(Remark,'') =''then 'Uploaded Successfully' else Remark end as Remark,a.regno, --'WSC25_'+ format(b.Id,'00000')reg_no,
	        a.email,a.mobileno,a.Designation,a.firstname,a.lastname,a.firstname+' '+a.lastname Name,a.password,a.address1,a.gender,a.country,a.countrycode,a.nameofinstitude,cast(a.DOB as date)DOB
			,a.category,a.paymentid,a.RegFee,a.regdate,a.DollerRate
			--a.accpersonname1,a.accpersongender1,a.accpersonname2,
		
			--a.accpersongender2,a.accpersonname3,a.accpersongender3,
			--a.accpersonname4,a.accpersongender4,a.acceptflag
			--,a.DietaryRequest,a.ACCOMPANYINGPERSON,a.ACCOMPANYINGPERSONNo,
			--a.paystatus
			
			
			
		
			from #temp a join tblSignUp b on  a.email=b.EmailAddress --and a.mobileno=b.Mobile

	 commit transaction
				        end try
				   Begin catch
				         IF @@TRANCOUNT > 0
				         Rollback Transaction
				         Select  ERROR_MESSAGE() as MESSAGE
			       end catch

end 
GO
